[2015-03-10 22:39] AttObl commented on #7518
Thank you!

[2015-03-11 01:32] lxe commented on #7573
Yes!

[2015-03-11 02:57] micahlmartin opened #7591 "Strange paths in `npm-shrinkwrap.json`"
I’m having a weird issue with `npm shrinkwrap` that causes weird file paths to show up in the from field.

[code]

I’m not sue if it’s an actual problem or not but it seems really strange. I’ve seen it happen with other packages too. Most everything else seems to have a much more normal looking from path like this:

[code]

Any ideas what might be causing this? I'm running `nvm` so I'm not sure wh

[2015-03-11 03:36] smikes commented on #7520
I may have bugged the wrong person, let's see if @seldo or @othiym23 or @ceejbot can help a package owner with newly-illegal upper case characters in the username.

[2015-03-11 04:06] aa6my commented on #7492
my error output like this. how to fix it?

npm WARN engineStrict Per-package engineStrict (found in package.json for cordova)
npm WARN engineStrict won't be used in npm 3+. Use the config setting `engine-strict` instead.
npm WARN engine npm@1.3.4: wanted: {"node":">=0.6","npm":"1"} (current: {"node":"0.12.0","npm":"2.7.0"})
npm WARN engine cordova-js@3.8.0: wanted: {"node":"~0.10.x"} (current: {"n

[2015-03-11 06:14] bucaran opened #7592 "Safety regarding publishing .npmrc"
I would like to manage my user's `$HOME/.npmrc` along with my dotfiles, but I am not sure if I should worry about this field (is this my base64-encoded npm's password?)

[code]

[2015-03-11 06:38] rluba opened #7593 ""npm install" reinstalls git dependencies every time"
Whenever we run `npm install`, each dependency that is specified as a git URL (`"some-module": "git+ssh://git@repo-url#v1.2.3"`)  is fully removed and reinstalled. Is this intended behavior? If yes, can we avoid it somehow?

[code]

We started to notice this because some of the modules have native dependencies which causes multiple compile steps and _looong_ delays whenever we run `npm install`.

[2015-03-11 08:57] rluba commented on #7593
[Here's a small gist to illustrate the problem](https://gist.github.com/rluba/2e936f3e0e587715a52c).

[2015-03-11 09:24] llafuente opened #7594 "npm.web relative links are broken."
Relative links should use "homepage" in package.json as base for href otherwise some links are broken.

Example: [mongoose-ref-query](https://www.npmjs.com/package/mongoose-ref-query)

at the end you will find an anchor "see http-interface" which target is `https://www.npmjs.com/package/docs/http-interface.md` and should be `https://github.com/fghibellini/mongoose-ref-query/docs/http-interface.md`

[2015-03-11 09:41] mpj commented on #6565
As someone who is way more familiar with peerDependency hell than I wish upon any of my enemies, I think that the solution @othiym23 wrote about above seems perfectly sensible. The well-meaning automatic install is generally what causes almost all issues.

I frankly find this version of peerDependencies a lot easier to explain. Peerdependency now means - "I want this package, but I won't install i

[2015-03-11 10:18] KenanY commented on #7591
@micahlmartin `npm --version`?

[2015-03-11 10:19] KenanY commented on #7594
@llafuente Issues with the website should be opened over at [`npm/newww`](https://github.com/npm/newww). This is the repo for `npm`, the CLI.

[2015-03-11 10:20] KenanY commented on #7492
@mzgol I don't see an error in the log you've posted. I just see a few warnings, which in many cases can usually be ignored without consequences.

[2015-03-11 10:45] KenanY commented on #7593
Dupe of https://github.com/npm/npm/issues/4191, I think.

[2015-03-11 11:01] rluba commented on #7593
@KenanY Yes, you are right.

[2015-03-11 11:01] #7593 closed

[2015-03-11 11:41] VikramTiwari opened #7595 "Issue while using NPM on Amazon EB"
npm-debug log

[code]

[2015-03-11 11:54] SlyDeGout opened #7596 "npm error : error Darwin"
I got this error :
[code]
Thanx for your help

[2015-03-11 12:03] KenanY commented on #7596
@SlyDeGout This is a Node bug, unfortunately. Please see https://github.com/npm/npm/issues/7349

[2015-03-11 12:05] KenanY commented on #7595
@VikramTiwari It appears as though you are trying to run `npm start` in a directory that does not contain a `package.json`. `npm` has absolutely no idea what you want it to do unless you define the `"start"` script in your `package.json` (what are you _expecting_ to happen?). Please see the documentation on [`npm start`](https://docs.npmjs.com/cli/start) and [scripts](https://docs.npmjs.com/misc/s

[2015-03-11 12:19] SlyDeGout commented on #7596
Thanx

[2015-03-11 14:58] ackernaut commented on #7591
I have had the same issue and I'm currently using `2.7.0`.

[2015-03-11 15:06] KenanY commented on #7591
@ackernaut This was fixed in `npm@2.7.1`. Original issue: https://github.com/npm/npm/issues/7121, Fix: https://github.com/npm/npm/pull/7539 :)

[2015-03-11 15:11] julianlam commented on #6565
I am also in favour of throwing a warning instead of erroring out. One (our of hundreds) of NodeBB's plugins used it, and we've been getting bug reports coming out of our ears ever since.

What's worse is that *resolving the version mismatch still causes npm to throw errors*. Maybe I'm doing it wrong, but our advice in these situations is to not fight npm, instruct the user to remove all conflicti

[2015-03-11 15:12] ackernaut commented on #7591
:+1: Good to know, thanks!!

[2015-03-11 15:18] zxqfox commented on #6565
@julianlam over 9k :+1:

[2015-03-11 15:34] othiym23 commented on #7492
Plus I tweaked that behavior some more in `npm@2.7.1` to only warn for the current package, not child dependencies. So when you upgrade again after 2.7.1 is out of testing, you'll stop getting the `engineStrict` warning.

[2015-03-11 15:46] jpolo commented on #4564
As specified in http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

"local/shared" corresponds to "home data" and "config" to "home config". All user packages and cache should go in "local/shared". Any data concerning user npm login, etc should go in "config" directory.

Doing the parallel with windows, I think it should go to %LOCALAPPDATA% directory.

[2015-03-11 16:15] pivotal-topher-bullock commented on #7552
Yeah, @s12chung 's solution worked for me ; specifying a specific version of ``rimraf`` in your root ``package.json`` fixes the whole enchilada **temporarily**.

Could the problem be that NPM isn't identifying the ``ember-cli`` "middle-child" dependency for a specific static version of ``glob@4.0.5`` as not satisfying ``rimraf``'s  `` glob@^4.4.2 `` requirement because it looks higher up in the an

[2015-03-11 16:27] getify commented on #6565
I don't think we should fool ourselves into thinking that removing the auto-install is going to magically fix the larger problem of conflicting "dependencies" (aka version mismatch) between peers. If two packages at the same level require two different versions of the same package as a peer (not a child dep), the fact that npm didn't install one of the two versions is hardly going to do anything m

[2015-03-11 16:29] zxqfox commented on #6565
@getify It will be just a warning if I get it right. So it's a solution.

[2015-03-11 16:59] #7594 closed

[2015-03-11 17:15] biebergagabcbs opened #7599 "grunt issue"
when I run grunt in Nodejs and Git I get the following error:

Loading "Gruntfile.coffee" tasks...
Cannot find module: uproxy-lib/tools/taskmanager
Task "default" not found

how to fix this error. thanks.

[2015-03-11 17:17] RichardLitt opened #7600 "Request: cli shortcut for shorthands"
Typing `npm help 7 config` in order to see a list of shorthands is difficult to remember and oddly longwinded. Can there be a shortcut to show these?

[2015-03-11 17:17] KenanY commented on #7599
@biebergagabcbs Could you expand on your issue a bit more? With just those three lines, I cannot even tell if this is an `npm` issue to begin with.

[2015-03-11 17:25] elegantweb commented on #7590
i have same problem plz help :(

[2015-03-11 17:54] getify commented on #6565
@zxqfox I think you and I have very different definitions of the word "solution". A warning notifies you there's a problem. It doesn't solve the problem. The thing removing auto-install does is shift the problem from one sort (conflicting installs) to another (conflicting requirements). For some people that makes them not experience the pain of the problem as directly. But that hardly qualifies as

[2015-03-11 18:03] othiym23 commented on #6565
@getify, @zxqfox Could I persuade you to take your conversation to #5080? I ask this for two reasons:

1. A lot of this is rehashing discussion that was already had there, and the participants in that discussion are in a much better place to represent the different points of view on `peerDependencies` than the people watching this issue, and
2. Your debate is off-topic for this issue, which is dis

[2015-03-11 18:07] zxqfox commented on #5080
Based on https://github.com/npm/npm/issues/6565#issuecomment-78319337

@getify What is your problem? I don't get it.

[2015-03-11 18:19] mireyarod23 opened #7602 "Intalling ANYTHING with NPM"
I'm working on a PC I cannot install anything with NPM because http from github gets loaded WHY?

![untitled](https://cloud.githubusercontent.com/assets/11428258/6603624/dc1ad90c-c7e8-11e4-8a39-e07e5b390aac.jpg)

[2015-03-11 18:23] zxqfox commented on #5080
@kilianc It's a pretty common problem related to packages. NPM is package manager. You really want one more package manager for plugins?

[2015-03-11 18:25] kilianc commented on #5080
@zxqfox didn't say that, I am just saying the plugin system should not rely on npm and figure out what works or not by himslef

[2015-03-11 18:30] zxqfox commented on #5080
@kilianc You just suggest to check versions in each host app. It means exactly: mini package manager inherited into host app. I really don't see any reasons to drop `peerDeps` without a good replacement for npm-packaged plugins.

[2015-03-11 19:05] natsn opened #7603 "npm install npm -g deletes /usr/local/bin/npm"
nathann@glitch ~ $ npm -v
    2.5.1
    nathann@glitch ~ $ npm install npm -g
    npm ERR! Darwin 14.1.0
    npm ERR! argv "node" "/usr/local/bin/npm" "install" "npm" "-g"
    npm ERR! node v0.12.0
    npm ERR! npm  v2.5.1
    npm ERR! path /usr/local/lib/node_modules/npm/.eslintrc
    npm ERR! code EACCES
    npm ERR! errno -13

    npm ERR! Error: EACCES, unlink '/usr/local/lib/node_modules/npm/

[2015-03-11 19:09] searls commented on #4516
I just got bitten by this as well. Gisted my adventure here: https://gist.github.com/searls/3dc752e00bbc6e226531

[2015-03-11 20:52] searls commented on #4516
There are few things in this thread that stand out to me:

1. It's a red herring to suggest this issue is about "hand-editing" the package.json. Even if the developer updating a devDependency uses `npm i --save`, a collaborator on the project can be expected to pull changes, run `npm install` and experience surprise that their devDependencies aren't updated. Because it fails silently, I've seen th

[2015-03-11 21:33] fresheneesz commented on #4516
I agree with searls. As a matter of fact, in my project, I have a postinstall script that automatically installs individual dependencies that have had their version changed inside `package.json`, then re-shrinkwraps after its done. So my only step is to change the `package.json` file and `npm install` does the rest. This kind of thing should be there out of the box for npm.

[2015-03-11 21:34] xsapguru opened #7604 "npm install shelljs - ECONNABORTED"
Hi All,

I have installed the NodeJS recent version v0.12.0. And tried to use the command ( on Windows 7 Professional 64 bit) > npm install shelljs
This gave me an error as attached.

[code]

I am in corporate network. and have used the npm config set registry options as well. But no luck.

Can someone please help me in this regard ?

Sam

[2015-03-11 21:35] gilesbowkett commented on #4516
quoting @searls:

I think this is compatible with the very Unix-y, "do one small thing well" philosophy popular in the Node world, and with something @othiym23 said:

[2015-03-11 21:44] jasonkarns commented on #4516
I think we should be careful of attempting to use semver as the One True Scotsman escape clause to fixing shrinkwrap. Scenario:

Application A is using Library L and unknowingly relies on some particular behavior (let's say the library throws an exception when given some certain input). Library L later uncovers this behavior, considers it a bug and fixes it. Library L now returns `undefined` for t

[2015-03-11 21:49] Mithrilhall commented on #7552
I had the same issue and the fix for me was updating ember in my package.json:

"ember-cli": "0.2.0"

[2015-03-11 22:01] jesuskwice commented on #7552
Hi all, FWIW, I found the root of my problem was that I tried updating ember-cli directly in package.json and running npm install, as opposed to the proper clean way of doing it described here:
http://www.ember-cli.com/#upgrading

After following the process outlined in the Project Update section, all the unmet dependency issues were resolved. Posting in case it saves anyone else a bit of headache

[2015-03-12 00:20] miguelmota commented on #7552
same issue on ember-cli@0.2.0-beta.1

[2015-03-12 03:14] aredridel commented on #7592
Yes, do: that is your password as base64. To see it, try `echo P2Vl......uY0A== | base64 -D` (if you're on a mac; there are base64 tools for every OS under various names.)

[2015-03-12 03:17] bucaran commented on #7592
@aredridel  How can I stop npm from adding this automatically to `.npmrc` so that I can safely sync it with my dotfiles?

[2015-03-12 03:27] othiym23 commented on #7592
The short answer is you can't. The original purpose of that file was to store user credentials for the registry, and this is still one of its primary functions. At some point in the near future,the npm registry will switch to using token-based auth, but even that isn't safe to check in. Sorry, but this isn't safe config to share.

[2015-03-12 03:27] #7592 closed

[2015-03-12 03:29] bucaran commented on #7592
Perhaps a solution would be to encrypt the file and sync it with my dotfiles.

[2015-03-12 03:38] rochal commented on #7174
@yorch - that's right, this is still a problem for `npm@2.5.1`.

[2015-03-12 04:38] othiym23 commented on #7174
This is not an issue with npm – Nexus is the application returning the status code of 406. For some reason it doesn't like the [`accept` header](https://github.com/npm/npm-registry-client/blob/master/lib/fetch.js#L86) set by `npm-registry-client`. It's possible that Nexus doesn't like the `application/vnd.github+json; q=0.1` portion of the header, but that is unfortunately required in order to fet

[2015-03-12 04:38] #7174 closed

[2015-03-12 05:49] ythej commented on #4096
I am getting a similar error when I try to run "npm test"

surveyman tests

module.js:340
    throw err;
          ^
Error: Cannot find module 'string'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/home/vishnu/foss/plasma-umass/surveyma

[2015-03-12 06:29] lukeapage commented on #6036
+1

[2015-03-12 07:22] dreamhs opened #7606 "npm install failed"
I used

      C:\Windows\System32>npm install -g phantomjs

to install phantomjs with node js command prompt , and ran the prompt with  admin permission. but failed, the version I am using is the latest. Error like below

[code]

[2015-03-12 07:49] SibuStephen opened #7607 "Attempt to unlock /home/spare2/n/node_modules/meanio, which hasn't been locked"
when i tried running my server i'm getting this error  -" Attempt to unlock /home/spare2/n/node_modules/meanio, which hasn't been locked ". i'm not aware of as to how to handle this scenario.

[2015-03-12 07:50] ambrumyan opened #7608 "Crashes on npm install"
npm ERR! Error: UNKNOWN, symlink '../esprima/bin/esparse.js'
npm ERR! If you need help, you may report this *entire* log,
npm ERR! including the npm and node versions, at:
npm ERR!     <http://github.com/npm/npm/issues>

npm ERR! System Linux 3.13.0-46-generic
npm ERR! command "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! cwd /var/www
npm ERR! node -v v0.10.34
npm ERR! npm -v 1.4.28
npm ERR! p

[2015-03-12 09:07] jhnns commented on #5080
Your suggested approach only works on runtime. You need to run the application in order to find out if there are incompatibilities. Imho that should be reported without actually running the application.

[2015-03-12 09:42] k92ankita opened #7609 "Could not install /tmp/cache/contrail/webui_third_party/requirejs-2.1.15.tar.gz"
we are running make fetch-pkgs-dev and getting below error logs.. Please help

[code]

[2015-03-12 11:49] uz5m opened #7610 "npm install error"
[code]

[2015-03-12 11:51] #7608 closed

[2015-03-12 12:43] smikes commented on #6641
@ReinsBrain , could you please open a new issue at https://github.com/npm/npm/issues so we can work on fixing the problem you're seeing without sending email to all the people above?

[2015-03-12 12:55] smikes commented on #7602
It looks like your the `registry` setting in one of your `npm` config files has been set strangely.  According to the log, your registry is `http://github.com/expressjs/body-parser`.  It should be `https://registry.npmjs.org`

Can you try running the command as

[code]

If that command fails, please upload your npm-debug.log as a  gist <http://gist.github.com> and post a link to the gist here.

Th

[2015-03-12 13:02] smikes commented on #7603
This is an unusual error.  `npm` does not ship the file `.eslintrc` -- do you have any idea how it is getting created in your `npm` directory?

The problem where attempting to update `npm` fails, causing `npm` to be removed, is a known bug.  I am not sure what the canonical issue for it is, but with either `npm update -g` or `npm install -g npm@latest` when `npm` encounters an error, it attempts t

[2015-03-12 13:07] smikes commented on #7607
Thanks for reporting this.  It sounds like an error that was common in older versions of `npm` (<2.5) where a race condition sometimes caused errors like this.

One option that you can try right away is `npm install -g npm@latest` ; this should get you the latest npm version.  If that doesn't fix the issue for you, could you please upload your `npm-debug.log` as a gist <https://gist.github.com/> a

[2015-03-12 13:11] smikes commented on #7609
It looks like the tarball that you are trying to install ("/tmp/cache/contrail/webui_third_party/requirejs-2.1.15.tar.gz" ) does not contain a valid package.json file.  Is there a reason you must install this package from a tarball, or can you try using the `npm` registry's version:

[code]

Your versions of `node` and `npm` are both quite old; if you can, I'd recommend updating them.

Specificall

[2015-03-12 13:11] smikes commented on #7609
It looks like the tarball that you are trying to install ("/tmp/cache/contrail/webui_third_party/requirejs-2.1.15.tar.gz" ) does not contain a valid package.json file.  Is there a reason you must install this package from a tarball, or can you try using the `npm` registry's version:

[code]

Your versions of `node` and `npm` are both quite old; if you can, I'd recommend updating them.

Specificall

[2015-03-12 13:11] smikes commented on #7609
It looks like the tarball that you are trying to install ("/tmp/cache/contrail/webui_third_party/requirejs-2.1.15.tar.gz" ) does not contain a valid package.json file.  Is there a reason you must install this package from a tarball, or can you try using the `npm` registry's version:

[code]

Your versions of `node` and `npm` are both quite old; if you can, I'd recommend updating them.

Specificall

[2015-03-12 13:13] smikes commented on #7610
This error usually means that you are running into a race condition.  There have been a lot of improvements to npm -- especially around conflicts and race conditions during install -- since 1.4.28. Can you try updating your npm installation?

To update npm on Windows, follow the instructions here: https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

Thanks!

[2015-03-12 13:28] SibuStephen commented on #7607
yes , will do it right away.

[2015-03-12 13:48] mireyarod23 commented on #7602
Updating the registry work!

The registry had the http://github.com/expressjs that is the reason why in the command was loading it's html.

Thank you!

[2015-03-12 13:49] SibuStephen commented on #7607
MEAN Status
    -----------

    MEAN VERSION: 0.4.3

    DB connection successful!

    MongoDB URI: mongodb://localhost/mean-dev

    checking meanio and global mean-cli versions
    mean-cli at latest version: 0.9.20
    meanio at latest version: 0.7.1

[2015-03-12 13:50] #7602 closed

[2015-03-12 14:01] smikes commented on #7606
For some reason `npm` is interpreting the `-g` flag a file/directory name.  Can you try the following:

[code]

And once that finishes, upload your `npm-debug.log` to https://gist.github.com and post a link to the gist here.

[2015-03-12 14:37] biebergagabcbs commented on #7599
I ran the following ok.
npm install -g -d bower
npm install -g -d grunt-cli
npm install -d
bower install -d

when I run grunt I get the following messages.

Loading "Gruntfile.coffee" tasks...
Cannot find module: uproxy-lib/tools/taskmanager
Task "default" not found

[2015-03-12 14:41] KenanY commented on #7599
@biebergagabcbs Can you try running `grunt` with the `--verbose` flag: `grunt --verbose`? Might provide some more information on what's going on here.

[2015-03-12 16:00] SkyLined commented on #7543
What is a normal time for a bug like this to get patched? I had expected this to get fixed in a day or so, since it is a minor change that has a pull request that passed Travis CI build. I am new to npm, so I don't know what timeframe is normal.

[2015-03-12 16:25] SaveTimE opened #7612 "npm dependencies not to install"
I run into an error I don't understand.
nodejs and npm install worked fine.
OS Ubuntu Server 14.04.1 (x64) on VM
software installed: Apache, nodejs, npm

It seem it give a problem with package.json
How can I resolve it?

Thanks
TimE

[code]

npm-debug.log
[code]

[2015-03-12 16:33] KenanY commented on #7612
@SaveTimE Do you have a `package.json` in your current working directory? `npm` has absolutely no idea what you want it to install unless you give it some arguments or you have a `package.json` in your current working directory. The documentation on [`npm install`](https://docs.npmjs.com/cli/install) might help; there's also a [tutorial](https://docs.npmjs.com/getting-started/installing-npm-packag

[2015-03-12 16:58] SaveTimE commented on #7612
Hi KenanY,
I solved it, found the missing file.
Thanks
TimE

[2015-03-12 19:06] #7579 closed

[2015-03-12 19:09] othiym23 commented on #7579
The bug had been around for a while. I think it was more that most people weren't encountering it because the situations in which it bit were fairly specific. I gave `gently-rm.js` another thorough overhaul, and this time made sure that @iarna and I both understood the code before merging the changes. It's possible that we've overlooked some corner cases (`gentlyRm` relies on heuristics tied to as

[2015-03-12 20:39] jsdevel commented on #6350
It would be really nice if the creation of `npm-debug.log` could be entirely disabled in `~/.npmrc`.

[2015-03-12 21:37] othiym23 commented on #7600
From my comment on #7601:

Do either of those sound like things you'd be interested in hacking on?

[2015-03-12 22:08] nwarrior commented on #7612
Hey SaveTimE I am running into the same problem, and I verified that package.json is in my directory.

How did you manage to solve this issue?

[2015-03-12 22:11] KenanY commented on #7612
@nwarrior Could you upload the resulting `npm-debug.log` as a [gist](https://gist.github.com/)?

[2015-03-12 22:20] nwarrior commented on #7612
Hey KenanY thanks for the quick response, I seem to have figured it out.

I wasn't in a directory that had Admin Privileges, it seems to be working it's magic at the moment. I will let you know if I have any other problems.

Cheers

[2015-03-12 22:32] tyler-johnson opened #7613 "Deduplicating linked modules"
I recently learned about `npm link` and find it to be a great tool when developing multiple libraries that depend on each other. I have found there to be one problem, however: `npm dedupe` does not support linked modules. This makes it very hard to link packages with shared dependencies since each package ultimately must keep its own version of the same modules. This leads to `require` pulling in

[2015-03-12 22:40] tyler-johnson commented on #7613
Haha, just realized the obvious problem with this: removing symlinked dependencies will make it so they cannot be found. I'm curious, how would you guys suggest accomplishing this? A basic `npm install my-pkg` takes way to long to install everything.

[2015-03-12 23:03] othiym23 opened #7614 "only save a certain number of npm-debug.log files"
This depends on #6744, and is a followup.

In order to better support `npm report`, while at the same time keeping debug logs from filling up the user's cache / disk / solar system, a cap should be put on the number of debug logs in cache, preferably as a LIFO queue. My strawman suggestion for the number of logs is 20, although if we kept track of the size of the logs, it would also be nice to hav

[2015-03-12 23:57] othiym23 commented on #7349
With the release of `iojs@1.5.1`, this issue should be resolved for io.js users. This will be included in Node.js 0.12.1, but plans for that are still in motion. Keep an eye on joyent/node#6348 for news on progress there. I'll hold off on closing this ticket until a patched version of Node.js is out.

However, if you're blocked by this, see if switching to io.js gets you unblocked.

[2015-03-13 00:14] matadoer opened #7615 "Issue using 'adduser'"
[code]

[2015-03-13 00:17] matadoer commented on #7615
@isaacs

[2015-03-13 00:36] othiym23 commented on #7615
You're using a very old and out of date version of npm (and probably node, if you're using an Ubuntu / Debian-packaged nodejs). [Try upgrading](https://github.com/npm/npm/wiki/Troubleshooting#try-the-latest-stable-version-of-npm) to the latest version of Node and a newer version of npm, and see if that helps. (If you want to stick with the Debian / Ubuntu packages, you'll need to file this issue o

[2015-03-13 00:36] #7615 closed

[2015-03-13 01:37] #7613 closed

[2015-03-13 02:49] dapithor commented on #7603
This looks to be related to an issue I had last year that is still unresolved Issue #5050

[2015-03-13 03:42] gwake1 opened #7616 "ranking by elo"
Descending rank by elo

[2015-03-13 07:25] sumit-satnalika opened #7617 "gulp is not getting installed on ubuntu"
[code]

[2015-03-13 07:33] #7552 closed

[2015-03-13 07:37] othiym23 commented on #7552
I'm just going to cut and paste the entire commit message for 051c4738486a826300f205b71590781ce7744f01, which fixes this bug:

[2015-03-13 11:15] KenanY commented on #7616
@gwake1 Is this some kind of feature request for the `npm` CLI?

[2015-03-13 11:28] KenanY commented on #7075
Fixed by https://github.com/npm/npm/pull/7099?

[2015-03-13 13:42] stephencpd opened #7619 "insufficient space errors"
Hi,
I'm interested in using Yeoman and am following their getting started page.
node -v returns v0.12.0
npm -v returns 2.5.1

I have install globally, grunt-cli, bower, yo and generator-webapp (scaffolding for a bootstrap project)
Whenever I run yo webapp, it gets to the npm install section and fails as below:

[code]

I have also tried some other install, such as foundation (using libsass), as pe

[2015-03-13 13:46] aredridel commented on #7619
What filesystem is this on?

Does it happen to be a virtual machine on a filesystem shared with the host?

[2015-03-13 13:54] LoicMahieu commented on #7617
Try to update your NPM with `npm update -g npm@latest`

[2015-03-13 13:55] stephencpd commented on #7619
Hi, aredridel, that's quite interesting that you should say that!
Yes, my Debian is running in Hyper-V and I'm mounting an NTFS share with cifs. It is into this mountpoint that I'm trying to start my projects.
I just tried yo webapp to my home directory and I didn't get the error (although interestingly, previously I had)

Do you have a similar experience, or perhaps a solution?

Stephen

[2015-03-13 13:57] namlook commented on #5082
:+1: I've been bitten too

[2015-03-13 16:55] callumacrae commented on #2097
Apparently this sort of logic is good for checking for binary files, I googled it a few times last time a similar bug bit me (someone was using regex to check for an svg file, and we somehow had a binary file that matched it) and it's pretty common: https://github.com/alessioalex/is-binary/blob/master/index.js

I'm not sure if that's how the `file` utility does it in the shell (and I don't know ho

[2015-03-13 18:29] jescalan opened #7620 "Symlink errors are really unclear and difficult to resolve"
Hi there,

So I'm only filing this after having dealt with it on multiple peoples' machines many times. Fairly often, when npm is installing dependencies, there will be a symlink error, most of the time, this is when it is trying to symlink a binary but it already exists (I think this occurs if the package is a local dependency but has already been installed globally). The error looks something li

[2015-03-13 18:32] joeydolan opened #7621 "nmp fails to install selenium-webdriver."
Looking at previous error messages on this site I tried doing a global install in C:\temp

*** Pasted at the end  IS MY npm-debug.log

c:\temp>npm install --global selenium-webdriver
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\\\node.exe" "C:\\Program Files\\nodej
\\node_modules\\npm\\bin\\npm-cli.js" "install" "--global" "selenium-webdriver"
npm ERR! node v0.12.0
npm ER

[2015-03-13 18:42] bmeck commented on #2097
@callumacrae you mean https://github.com/file/file ?

[2015-03-13 18:42] joeydolan commented on #7621
I work for a state government agency and am behind a proxy.

[2015-03-13 18:42] #7621 closed

[2015-03-13 18:53] othiym23 commented on #7620
Try installing `npm@next` and see if this remedies the problem. One of the two big bug fixes in this release is intended to address exactly this issue: fb0ac26eecdd76f6eaa4a96a865b7c6f52ce5aa5

[2015-03-13 21:11] faddah opened #7622 "trying to install bonescript module globally with npm, get errors, can't rebuild node-gyp"
hello,

i have a new beagle board black rev. c ( http://www.element14.com/community/community/designcenter/single-board-computers/next-gen_beaglebone ) and am trying to code in javascript with it.

i wants to use its module for JavaScript, available through npm, 'bonescript' (https://www.npmjs.com/package/bonescript). however, whenever i attempt to do —

[code]

... i get the following errors, eac

[2015-03-13 21:14] jenius commented on #7620
Cool, will give it a shot next time I can reproduce the issue and report back here :grinning:

[2015-03-13 21:33] MetaMemoryT opened #7623 "Path problem (double path appended) with [windows]"
[code]

npm-debug.log: https://gist.githubusercontent.com/MetaMemoryT/e4e5f900cc85c8d305ef/raw/gistfile1.txt

[code]

[2015-03-13 21:41] a0viedo opened #7624 "npm install doesn't install a dependency and doesn't show errors"
We are trying to figure it out how to reproduce this problem, it happens randomly. Here are the steps we used to reproduce this more than one time (even in different instances):

- With a new AWS EC2 instance (Ubuntu 14.04) and npm v2.7.0 installed we run `npm install` command in several directories.
- We found that one module it's not installed, the directory inside node_modules wasn't created. T

[2015-03-13 22:06] othiym23 commented on #7622
Although I think `node-serialport` has been updated to work with the new V8 APIs in Node 0.12.0, `bonescript` is still depending on a version that's about 10 releases behind at this point. You'll need to file an issue on `bonescript` to get them to put out a version of their package that works with Node newer than 0.10. Good luck!

[2015-03-13 22:06] #7622 closed

[2015-03-13 22:21] othiym23 commented on #7623
Your error log shows that you're using Cygwin, and [npm doesn't support Cygwin](https://github.com/npm/npm#installing-on-cygwin). I know that's a pain, but it turns out that supporting Cygwin is extra-hard when you also support both full Unix and WIndows, and there aren't enough Cygwin users out there to make the extra complexity of supporting Cygwin tenable.

This particular issue is something th

[2015-03-13 22:24] MetaMemoryT commented on #7623
Thanks for providing an excellent explanation of the problem.

[2015-03-13 22:27] faddah commented on #7622
thanx forest! i have done so and [filed it as their issue over there in the bonescript repository #106](https://github.com/jadonk/bonescript/issues/106).

best,

— faddah
    portland, oregon, u.s.a.

[2015-03-13 22:59] kevva commented on #7617
What command are you trying to run? `npm ERR! Error: version not found: gulp : gulp/gulp` tells me you are doing something weird.

[2015-03-13 23:00] kevva commented on #7612
@KenanY, boom, close.

[2015-03-13 23:01] kevva commented on #7610
Yeah, I would also recommend updating npm.

[code]

[2015-03-13 23:52] KenanY commented on #7612
@kevva I would if I could :)

[2015-03-13 23:53] KenanY commented on #7617
@kevva Command is in the log:

[code]

[2015-03-13 23:57] kevva commented on #7617
Well `gulp/gulp` is nothing so there is something weird going on here.

[2015-03-13 23:58] KenanY commented on #7617
@kevva Yeah... @sumit-satnalika could you upload the full `npm-debug.log` as a [gist](https://gist.github.com/) (preferably after trying out @LoicMahieu's suggestion)?

[2015-03-14 00:56] hal-gh opened #7625 "OS X: "npm ERR! cb() never called!" error when installing imagemin"
I raised this issue at [imagemin/issues/90](https://github.com/imagemin/imagemin/issues/90), but it's probably more appropriate here.

Environment:
* OS X 10.9.5 (Darwin macbookpro.local 13.4.0 Darwin Kernel Version 13.4.0: Wed Dec 17 19:05:52 PST 2014; root:xnu-2422.115.10~1/RELEASE_X86_64 x86_64)
* node: v0.10.36
* nvm: 0.24.0
* npm: 2.7.1
* imagemin-pngquant 4.0.0 (latest) [installs successfull

[2015-03-14 01:25] sumit-satnalika commented on #7617
Guys issue is resolved.
npm config set registry https://registry.npmjs.org
Solved the issue for me....
Thankyou all for ur suggestions...

[2015-03-14 04:20] am11 commented on #2097
IMO, npm can incorporate `.npmattributes` in its publishing workflow, which would be analogous to `.gitattributes`, by enforcing those endings rules *in-memory* on packaging.
Applying those rules in-memory (as opposed to file-system itself) will prevent altering any file/content status in source-control.

[2015-03-14 11:28] maggiedziong opened #7626 "Error installing npm"
I am trying to do an npm install in an angular-kickstarter project and I keep getting errors..

It starts with this :

node-gyp rebuild

  SOLINK_MODULE(target) Release/.node
  SOLINK_MODULE(target) Release/.node: Finished
  CXX(target) Release/obj.target/fse/fsevents.o
  SOLINK_MODULE(target) Release/fse.node
  SOLINK_MODULE(target) Release/fse.node: Finished
npm ERR! Darwin 13.4.0
npm ERR! argv

[2015-03-14 13:14] juanluperez opened #7628 "Error installing castnow using npm"
[code]
npm-debug.log: https://bpaste.net/show/0cf2912de30f

[2015-03-14 16:22] bitinn opened #7630 "Unable to install from github repo when specified in package.json, err 406"
I am seeing this generic 406 error consistently on a particular iMac in our network. Other machines in the same network with the same io.js (v1.5.1) doesn't appear to be affected by this problem.

But where does ERR 406 comes from, that iMac can access https://github.com/bitinn/onchange#gaze just fine. And it can install other npm package just fine.

I tried to reinstall io.js with .pkg but issue

[2015-03-14 16:30] KenanY commented on #7626
@maggiedziong

[code]

Unfortunately, this is a Node bug: https://github.com/npm/npm/issues/7349

[2015-03-14 18:09] DaAwesomeP opened #7631 "Problems using NPM as library"
My app will use NPM as is package manager and I would like to install/update/remove packages with it. I would prefer to do this with a library and not use the CLI as a child process.

I found that I can include NPM in a `require()`, but how do I use it?

[2015-03-14 18:15] DaAwesomeP commented on #7631
Never mind. I just found this: https://github.com/npm/npm#using-npm-programmatically

[2015-03-14 20:00] johnkors opened #7632 "Fails on Linux (Heroku)"
Not sure if this is a Heroku thing or an npm thing, but trying here anyways :) Is the chmod failing?

-----> Rebuilding any native dependencies
       npm ERR! Error: ENOENT, chmod '/tmp/build_fe96d48b9176f0b5f8511ef2027fbb04/johnkors-links-8222ebff54166620757a30c92cf1f992be94032e/node_modules/googleapis/node_modules/request/node_modules/node-uuid/bin/uuid'
       npm ERR! If you need help, you ma

[2015-03-14 20:25] wenzowski opened #7633 "use tarball when github shorthand includes a ref"
In the interest of speeding up installation of packages that haven't made it in to the registry yet, could we resolve github packages that include a ref using the special github tarball (one request) instead of fetching the entire repo over https (multiple requests)?
[code]
would be equivalent to
[code]

and
[code]
would be equivalent to
[code]

---

The only concern I have is when the ref points

[2015-03-14 23:42] hal-gh commented on #7625
It installs successfully when using npm 1.4.28.

[2015-03-15 00:42] Havvy commented on #7386
Nobody has said anything against this since it was open. Seems anybody who is paying attention to the project wants it in it.

[2015-03-15 01:30] xtianus79 opened #7634 "Do I need to have an npm package or is just a git repository enough?"
I would like an NPM page to link to as well with a blog and I really don't see how to do that.

[2015-03-15 02:23] mscdex opened #7635 ""undefined is not a function" with iojs 1.5.1/npm 2.7.0 (Linux)"
Steps to reproduce:

* Create `package.json`:
[code]
* Then within same directory: `npm install`

It *does* work with node v0.10.30/npm 1.4.21

[2015-03-15 02:25] mscdex commented on #7635
[`npm-debug.log`](https://gist.github.com/mscdex/a3f82cdc679c57ed6b57)

[2015-03-15 02:36] DaAwesomeP commented on #7631
Actually, I'm having some problems:

1. When I install packages, it often misses lots of the packages' dependencies.
2. It always writes to the console by itself. I cannot seem to stop it.

To install (doesn't install all dependencies):
[code]
To list (shows missing dependencies despite no intended output to console):
[code]
List function showing missing dependencies (I tested with random packages

[2015-03-15 02:55] rickdog opened #7636 "readme.md is wrong for windows"
readme.md says:
[quote]
You can download a zip file from <https://npmjs.org/dist/>, and unpack it in the same folder where node.exe lives.
[/quote]

Not true, must unpack to subfolder node_modules\npm where node.exe lives.
(npm 1.4.28, probably others too)

[2015-03-15 02:55] KenanY commented on #7635
@mscdex I believe https://github.com/mscdex/socksv5/pull/5 will fix your issue. `bundledDependencies` should be an array, not a hash https://docs.npmjs.com/files/package.json#bundleddependencies

Works for me:

[code]

[2015-03-15 02:59] mscdex commented on #7635
You're right, my mistake. However, there should be a better error message than that...

[2015-03-15 03:06] anabellchan commented on #7626
I have the same issue here with npm install -g karma.  Wonder if someone found a way to work around with this issue.

[2015-03-15 03:09] KenanY commented on #7635
@mscdex I agree. I'm sure all that's needed is an `isArray` check somewhere. Maybe I'll take a look tomorrow.

[2015-03-15 03:10] DaAwesomeP commented on #7631
Huh the example in the README differs a lot from the example here: https://docs.npmjs.com/api/install

[2015-03-15 03:26] KenanY commented on #7626
@anabellchan There are no errors in the log you've posted. Are you concerned about the `WARN`s?

[2015-03-15 04:38] anabellchan commented on #7626
Yes, I'm eyeing particularly on npm WARN optional dep failed, continuing fsevents@0.3.5

This may be related to failed initialization on jasmine using karma:

C:\Program Files\nodejs\node_modules\karma\bin>karma init
'karma' is not recognized as an internal or external command,
operable program or batch file.

[2015-03-15 04:42] KenanY commented on #7626
@anabellchan `fsevents` provides access to some Mac OS X specific features. Since you are on Windows, that _optional_ dependency is of course not installed.

[2015-03-15 06:21] anabellchan commented on #7626
Thanks, that helps.

[2015-03-15 06:46] iarna commented on #7631
@DaAwesomeP You'll notice that the first argument in the documentation is in square brackets– that indicates an optional argument.

If you want to suppress output, pass in `loglevel: 'none'` to `npm.load` you're setting your prefix.

As for your install not seeing all dependencies, it would be really helpful if you could include value of `names`.

[2015-03-15 09:20] msikma commented on #7636
I think the reference to 1.4.28 in the readme is not needed anymore, anyway—unless I'm missing something, all versions still come in a zip file with binary. But the note about the path seems to be correct. On a side note, you seem to have an old version, since the readme now links to https://github.com/npm/npm/releases

[2015-03-15 15:33] DaAwesomeP commented on #7631
Oh I forgot to substitute that. The first time I ran it, `names` was an array with `serialport` in it. The second time it had only `underscore` in it.

Is it better to use the `where` argument in the install function or the `prefix` in `npm.load`?

Thank you for your help.

[2015-03-15 15:37] DaAwesomeP commented on #7631
It seems that it is `logLevel` and not `loglevel`. I still get output to the console though.

[2015-03-15 16:35] mikesol opened #7638 "sudo npm install -g once not working"
Hey!
I'm getting the error below repeatedly.  Any help would be appreciated!

[code]

[2015-03-15 16:36] KenanY commented on #7638
@mikesol `npm@1.3.2` is very old and no longer supported. Could you first try [upgrading](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-nix-osx-linux-etc)?

[2015-03-15 17:17] silverwind commented on #7623
Related: https://github.com/npm/npm/issues/7456

@MetaMemoryT are you really on Cygwin? the `/c/` path leads me to believe this is an MSYS enviroment (Used by Git Bash), can you confirm?

[2015-03-15 20:16] hal-gh commented on #7625
The following environments also work:

[code]

[code]

[2015-03-15 21:38] dman777 commented on #7630
I seem to also be having this issue on my cloud server(gentoo) for https://github.com/dman777/gulp-newy.git.

[code]

[2015-03-15 23:17] anabellchan opened #7639 "Error creating Jasmine config file"
My goal is to create unit tests for AngularJS.  The AngularJS team recommends using Karma and Jasmine for testing.

Here is what I've taken so far:
1.  Installed Git v1.9.5.
2.  Installed Node.js v.0.12.0
3.  Installed Karma module:  npm install -g karma

By now, my file directory will now have “C:\Program Files\nodejs\node_modules\karma” , and the “C:\Program Files\nodejs\node_modules\karma\bin”

[2015-03-16 04:59] rishiloyola opened #7640 "Error while build"
while running command $npm run  build I facing following error. Please help.
[code]

[2015-03-16 10:17] gaearon opened #7641 "Normal dependencies don't go into shrinkwrap with NPM 2.7"
With NPM 2.5.x, `npm shrinkwrap --dev` put both normal dependencies and devDependencies into shrinkwrap file.

After updating to 2.7.2, it only writes devDependencies. Normal dependencies are missing from shrinkwrap file.

I'm running io 1.5.1.

[2015-03-16 10:45] KenanY commented on #7640
@rishiloyola Does `/home/rishi/package.json` exist?

[2015-03-16 11:51] MakiMark opened #7642 "Error on installing Harp Webserver on Windows"
I have everything installed on my windows maschine: (ruby, compass and nodejs) and now I wanted to install the local webserver harp but i get the following errors (Please see pic below) . Can please someone help. Thanks a lot.

![error](https://cloud.githubusercontent.com/assets/11501730/6665561/359a5138-cbdb-11e4-9b11-472a6721e7f1.png)

[2015-03-16 11:56] KenanY commented on #7642
@MakiMark This looks like an issue with your internet connection. `git` is having difficulties connecting to `github.com`. Are you behind a proxy by any chance?

[2015-03-16 12:02] MakiMark commented on #7642
@KenanY thanks for the quick reply! Internet is fine. But i am on a office computer. So i guess it runs behind a proxy. Is there any way to install it behind a proxy server? Thanks.

[2015-03-16 13:41] aredridel commented on #7624
Gosh that's an old version of node.

[2015-03-16 14:04] MetaMemoryT commented on #7623
Yah, I am using msys.

[code]

[2015-03-16 15:14] MetaMemoryT commented on #7642
This is related to:

https://github.com/npm/npm/issues/7623

https://github.com/npm/npm/issues/7456

[2015-03-16 15:23] KenanY commented on #7642
@MetaMemoryT Is it? Those issues are regarding "not a repository" errors whilst this one is an "unable to connect" error.

[2015-03-16 15:27] MetaMemoryT commented on #7642
good point, I just thought it was failing because the path was being rendered wrong, which is the problem the other bugs are having.

[2015-03-16 16:26] EastL opened #7643 "Error on run-script test onvif"
I got error with this command 'npm run-script test'  from test https://github.com/agsh/onvif  :
[code]
Can please someone help. Thanks a lot～

[2015-03-16 16:48] RichardLitt commented on #7600
Yeah, I'm down. Sounds good to me. I'll see what I can do.

[2015-03-16 16:51] KenanY commented on #7643
@EastL Does `/home/eric/waste/onvif/lib/package.json` exist? I believe you should be running that command from the `/home/eric/waste/onvif` directory. `npm run-script test` has absolutely no idea what you want it to do unless you have a `package.json` in your current working directory; the [docs](https://docs.npmjs.com/cli/run-script) might help :)

[2015-03-16 17:06] EastL commented on #7643
@KenanY  Oh...thanks!!  The package.json file is in /home/eric/waste/onvif directory and I run command in /home/eric/waste/onvif/lib/ directory... Thank you ~~

[2015-03-16 18:23] MetaMemoryT commented on #7623
@othiym23 this is not due to using Cygwin, I switched to plain cmd and got the same problem

the new npm-debug.log:
https://gist.githubusercontent.com/MetaMemoryT/eff62dfbe08c7c97a350/raw/e9f417efc41115201e13de348ac8007732acda5f/gistfile1.txt

[code]

[2015-03-16 18:27] silverwind commented on #7623
You still have the  `'/c/'`path in there, which makes me believe your `git` is MSYS's too on `cmd`. Does reinstalling http://git-scm.com/download/win help? (Though I'm not sure if that isn't actually MSYS too)

[2015-03-16 18:30] MetaMemoryT commented on #7623
@silverwind giving the reinstall a try

[2015-03-16 18:33] hal-gh commented on #7625
I've updated the gist. There is a script, `remove-packages.sh`, that deletes everything in node_modules and clears the cache. The log file, `npm-install.log` is new, created by running `npm -ddd install &>npm-install.log`.

[2015-03-16 18:36] silverwind commented on #7623
The root issue for me at least is that a local clone like `git clone c:\src c:\dst` gets paths merged wrongly.

I think there is real native git for windows in the works (without msys), but I can't find the repo right now.

[2015-03-16 18:39] othiym23 commented on #7623
[code]

I think @silverwind may be right, because here's the command that npm is running under the hood:

[code]

As you can see, that doesn't include `/c/` at all. If it's not the MSYS version of Git being confused about paths, then it's probably the MSYS / Cygwin versions of Git being confused by `-c core.longpaths=true`. If that's the case, then we're going to need to revisit how npm deals with

[2015-03-16 18:40] othiym23 commented on #7623
I've previously confirmed that using a stock install of Git using GitHub's Windows installer does not have this problem, back when I merged 59eb112eec7bfd0e39b6098142d76ad66d3aca14.

[2015-03-16 18:40] MetaMemoryT commented on #7623
Horay! This version of git seems to fix it!

[code]

[2015-03-16 18:43] silverwind commented on #7623
I don't thing it's related to `longpaths`, and I'm quite surprised it shows on  msys 1.9.3, but not 1.9.5, makes be believe the cause must be on shared code between cygwin and msys.

I have to do further tests in an VM, as I don't want to mess up my otherwise working git from Cygwin.

[2015-03-16 18:46] othiym23 commented on #7623
@silverwind Are you sure that was a msysgit version before? I'd have to double-check to make sure, but I was under the impression that even 1.9.3 included `msysgit` in the version string.

[2015-03-16 18:48] silverwind commented on #7623
@MetaMemoryT remember where you obtained your previous git?

@othiym23 If you could point me to the code parts where platform detection is performed, I might be able to add a tiny Cygwin fix. I assume it would work if npm wouldn't use `C:\` style paths on Cygwin.

[2015-03-16 18:56] MetaMemoryT commented on #7623
@silverwind it could have been an ancient pacman vanilla msys installed one, the order of my PATH variable was choosing this one over the msysgit one.

[2015-03-16 19:04] silverwind commented on #7623
I think it's safe to assume that @MetaMemoryT didn't have the non-posix version of git installed.

So the fix would probably be to test `git version` for an `'msysgit'` string, and if not found, use posix paths in clone (`'/c/'` and `'/cygdrive/c/'`). That might get messy...

[2015-03-16 19:36] silverwind commented on #7633
Tarball dependencies don't get pruned of unnecessary files, so these aren't exactly equivalent.

See #7501. Might be good to solve that one first.

[2015-03-16 19:59] othiym23 commented on #7623
Those normalized paths are coming from Node, not npm, and I won't accept any Cygwin-specific patches that override what Node returns on Windows. Every time npm has tried to support Cygwin in the past it has ended in tears. I'm willing to support fixes for known issues with MSYS, but not Cygwin.

[2015-03-16 20:09] #7580 closed

[2015-03-16 20:25] Transportia opened #7644 "npm search fails on mac x yosemite (10.10.2)"

[2015-03-16 20:29] #7644 closed

[2015-03-16 21:35] icalderond opened #7645 "Error: No version provided"
[code]

[2015-03-16 21:37] KenanY commented on #7645
@icalderond Do you have a `package.json` in your current working directory? Could you upload the entire `npm-debug.log` as a [gist](https://gist.github.com/) instead of only posting a portion of it?

[2015-03-16 21:39] othiym23 commented on #7075
Indeed, fixed by 4ef1412d0061239da2b1c4460ed6db37cc9ded27. Thanks, @KenanY!

[2015-03-16 21:39] #7075 closed

[2015-03-16 21:40] fundon opened #7646 "git checkout failed"
This repo: https://github.com/rkusa/koa-passport

[code]

[code]

[2015-03-16 21:41] othiym23 commented on #7144
This is fixed by 4ef1412d0061239da2b1c4460ed6db37cc9ded27. All credit to @smikes for making it happen!

[2015-03-16 21:41] #7144 closed

[2015-03-16 21:44] KenanY commented on #7646
@fundon Hmm, I couldn't reproduce this with a fresh `git clone`. Your error log says you ran `npm update -d`, not `npm i -d`...?

[2015-03-16 21:45] othiym23 commented on #6846
All three of those are closed by 4ef1412d0061239da2b1c4460ed6db37cc9ded27, so I'm going to call this resolved as well. If you run into weirdness with how the new version of the tag workflow works, please open new issues so we can keep the discussion from getting confused. Thanks! I hope this is what you were looking for!

[2015-03-16 21:45] #6846 closed

[2015-03-16 22:03] fundon commented on #7646
`npm up -d` is working.

[2015-03-16 22:07] #7646 closed

[2015-03-16 22:19] ciekawy commented on #3328
+1
being impressed by the richness of node packages and the well working idea of reusable modules I am convinced that this is the very case where having an option of working semvers for git urls is worth extracting the job already done for bower.

[2015-03-16 22:41] silverwind commented on #7623
Yeah, it's not something that should be fixed in npm itself, but rather upstream.

I still intend to research this further and bring up this issue on the Cygwin mailing list if I can reproduce on a vanilla Cygwin Installation.

As for this issue, I think it can be closed, as it's been proven to work using the lastes Git Bash.

[2015-03-16 22:44] othiym23 commented on #7623
:+1: Closing as resolved.

Sorry if I'm being obnoxious, @silverwind. Keeping things working smoothly on Windows and dealing with proxy weirdness are the two most fragile parts of the npm codebase, and so I have to take a pretty hard line there.

[2015-03-16 22:44] #7623 closed

[2015-03-16 22:53] amZotti opened #7647 "How do I contribute to npmjs.com docs?"
The documentation for [grunt-mocha-chai-sinon] (https://www.npmjs.com/package/grunt-mocha-chai-sinon) is quite poor. I would like to spruce it up but not sure how. Is it possible to do this through Github?

[2015-03-16 22:54] KenanY commented on #7647
@amZotti Yes! Send a pull request to the [GitHub repo](https://github.com/marcopeg/grunt-mocha-chai-sinon) of the package :)

[2015-03-16 22:56] othiym23 commented on #7647
What @KenanY said. Closing this as resolved, as this is very much not an issue with npm's CLI. ;)

[2015-03-16 22:56] #7647 closed

[2015-03-16 22:58] amZotti commented on #7647
I just figured it out as soon as I inquired. Doh! Thanks guys (;

[2015-03-16 23:10] othiym23 commented on #7633
It's maybe not obvious from watching npm work, but the thing that gets installed when you request a GitHub-hosted package isn't the same as what gets cloned via git. As @silverwind says, Git dependencies have to be repacked into tarballs for the cache, so all the npm-specific rules can be applied to the package. Also, once npm figures out that a dependency is hosted on GitHub, it becomes just anot

[2015-03-16 23:10] #7633 closed

[2015-03-16 23:20] drichard commented on #7641
Can confirm this behaviour in 2.7.1. Given that the changelog doesn't mention it, it seems likely to be a bug.

Given this package.json with one production dependency and one dev dependency:

[code]

Running the following commands:

* `npm install`
* `npm shrinkwrap --dev`
* `cat npm-shrinkwrap.json`

[code]

yields a shrinkwrap file with only the dev dependency in it.

[2015-03-16 23:44] othiym23 commented on #7641
Confirmed in `npm@2.7.2`. I think I know what happened (we landed a patch recently to let you run `npm ls` for both `--prod` and `--dev` trees separately, and the guts of the installer are entangled in unpredictable ways), but not how to fix it. Either way, thanks for bringing up the bug and including the repro case!

[2015-03-17 00:39] mike-spainhower opened #7648 "Config setting to prevent npm-debug.log from being written"
Moving an off-topic issue request in https://github.com/npm/npm/issues/6350 to its own issue.

@maxogden:

@jsdevel:

I don't know the use case, I am just try to prevent an issue I do care about from being hijacked :wink:

[2015-03-17 00:40] mike-spainhower commented on #6350
@maxogden @jsdevel Feel free to move off-topic discussion to https://github.com/npm/npm/issues/7648 :grin:

[2015-03-17 00:55] KenanY commented on #7648
Hmm, I wonder if this could fall under https://github.com/npm/npm/issues/7614 (i.e. set log count to 0)?

[2015-03-17 00:55] #7641 closed

[2015-03-17 01:08] othiym23 commented on #7641
I've now released [`npm@2.7.3`](https://github.com/npm/npm/releases/tag/v2.7.3) to address this problem. Thanks a lot for bringing this to our attention!

[2015-03-17 01:50] tinganho opened #7649 "Stats not available"
Seems like all stats are not available since mars 9th.

http://npm-stat.com/charts.html?package=typescript

[2015-03-17 01:54] KenanY commented on #7649
@tinganho

  1) This is the issue tracker for `npm`, the CLI tool
  2) `npm-stat.com` is not operated by npm, Inc. You should bring up any issues with it to its author.
  3) http://status.npmjs.org/incidents/s2cfqwpyqbr8

[2015-03-17 03:04] uz5m commented on #7610
I've retried several times, then finally solved it, it's not the updating problem, just because I opened one directory which the npm want to delete during the installing...

[2015-03-17 04:02] dehru commented on #3328
bower.json has no problem with this syntax
[code]
I wish I could add a similar syntax to package.json.

[2015-03-17 04:55] konthamkarthik opened #7650 "I just installed Nodejs on my Computerwhile installing i got this error message"
[code]

[2015-03-17 05:31] dhirus1 opened #7651 "installing bower with npm causing error"
installing bower with command line npm causes below error on windows 7, 32 bit machine..
below is the npm error log..
=====
[code]

[2015-03-17 06:01] smikes commented on #7628
Thanks for the bug report.

It looks like you have recently updated your `node` from 0.8 to 0.10.  Since you have a current `npm`, you can try `npm update`  and `npm update -g` to get your modules up to date; that's no longer broken.

Here is the relevant portion of the stack trace:
[code]

[2015-03-17 06:16] kevva commented on #7610
Hence:

[2015-03-17 06:55] SCWR commented on #7536
npm ERR! Linux 2.6.18-194.el5
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "supervisor"
npm ERR! node v0.12.0
npm ERR! npm  v2.5.1
npm ERR! code EAI_AGAIN
npm ERR! errno EAI_AGAIN
npm ERR! syscall getaddrinfo

npm ERR! getaddrinfo EAI_AGAIN
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <http://github.com/npm/npm/issues>

npm ERR! Please i

[2015-03-17 07:27] startswithaj opened #7652 "npm adduser creates user"
If you run ```npm adduser``` and enter a username with a spelling mistake for instance startswitaj instead of startswithaj and then a password it will create that account without prompting you. You can then therefore go ahead an mistakenly publish under the incorrect username.

npm adduser
username: anythingyouwant
password: anythingyouwant
email: same email as another account

npm publish
- publi

[2015-03-17 07:54] mcollina commented on #7144
This is great! Thanks @smikes!

[2015-03-17 07:55] mcollina commented on #6846
Yes, thank so much @smikes!

[2015-03-17 08:26] sabarinathancs opened #7653 "npm ERR! Invalid protocol:"
[code]

[2015-03-17 08:30] ciekawy commented on #3328
@dehru
Actually latest npm resolves your case correctly. The challenge is the
semver handling ie. git://myrepo.com/mymodule.git#^1.0.5

I mean the caret and tilde chars as range selectors.

[2015-03-17 09:25] schwrrring opened #7654 "npm install doesn't work"
hey i keep on getting errors, trying to install things. I am very very new to node and coding in general. Help would be great - using easy terms even better ;)

best, malte

[code]

[2015-03-17 09:51] juanluperez commented on #7628
I had run npm update and npm update -g before reporting this issue. I ran those command again after you pointed this out, same result.

I have to say that I'm using nodejs from Gentoo stable package repository.

[2015-03-17 10:15] haxzorer commented on #7349
Hi everyone,

I thought it could be worth mentioning i have hade this 'null == true' error myself several times over the past days, and it seemed as though nothing i tried could fix it. The specific error:

npm ERR! Darwin 13.4.0
npm ERR! argv "node" "/Users/mikael/npm-global/bin/npm" "install"
npm ERR! node v0.12.0
npm ERR! npm v2.7.1

npm ERR! null == true
npm ERR!
npm ERR! If you need help, you

[2015-03-17 10:26] EjayJanis opened #7655 "Updated and typed npm -g install and now all my apps wouldn't do ionic serve or upload"
I was told by my terminal to update my ionic and i did npm -g install after that all ionic serve or ionic upload commands wouldn't work.

WHAT HAPPENED???????????? I should have not updated

[2015-03-17 12:01] dominykas commented on #6773
Another idea: have something along the lines of `appDependency` in a regular package, e.g. I'd create a `package.json` with `{ "name": "my-blog", "private": true }` and then `npm install ghost --save-app` (or some alternative, e.g. `npm install ghost --save --config-apps`, which would then provide some hooks for ghost to configure an `npm start`, and also maybe ask/auto-set-up for some config opti

[2015-03-17 13:47] KenanY commented on #7655
@EjayJanis Impossible to deduce anything from the information provided. Could be an ionic issue, could be a `npm` issue. Can you provide your Node.js version, `npm` version, ionic version, a `npm-debug.log`, an error message?

https://github.com/npm/npm/wiki/Contributing-Guidelines#a-great-bug-report-contains

[2015-03-17 13:49] KenanY commented on #7654
@schwrrring It appears as though you do not have the permissions necessary to write to `~/.npm`. Could you try taking ownership back?

[code]

[2015-03-17 13:51] KenanY commented on #7651
@dhirus1 Have you tried the advice of the error message?

[2015-03-17 13:53] KenanY commented on #7650
@konthamkarthik This sounds like a consequence of https://github.com/joyent/node/issues/8141, and is an issue with the Node installer for Windows. The workaround is to ensure that `C:\Users\admin\AppData\Roaming\npm` exists and is writable with your normal user account.

If that doesn't solve your issue, then please upload the full `npm-debug.log` as a [gist](https://gist.github.com). Posting **on

[2015-03-17 14:45] lukasbloom commented on #7619
http://askubuntu.com/a/269735

[2015-03-17 15:39] Feldhacker opened #7656 "Cannot set CAFILE when old cafile no longer exists"
Attempting to execute:
  npm config set cafile "new.pem" --global
...Fails with:
  Error: ENOENT, open 'old.pem'
...when "old.pem" no longer exists.  It seems npm is attempting to validate or open the old (currently set) cafile before changing it.

Expected behavior:  The cafile should be set to the new value regardless of whether or not the current cafile can be validated.

[2015-03-17 15:44] DaAwesomeP commented on #7631
Any answers? I really don't want to have to use the CLI version of NPM.

[2015-03-17 16:07] adriatic opened #7657 "Shasum check failed"
Here is the relevant part of the error report (the complete log is at https://github.com/congral/Issue-support-evidence/blob/master/npm-debug03172015.log)

[v8-profiler] Success: "C:\Work\Learning\dashboar-app\node_modules\grunt-node-inspector\node_modules\node-inspector\node_modules\v8-profiler\build\pro
filer\v5.2.4\node-v14-win32-x64\profiler.node" is installed via remote
npm ERR! Windows_NT 6.

[2015-03-17 16:22] adriatic commented on #7657
This could be a transient error - but I decided to report it anyway as the stability of npm on windows is of paramount value in my opinion.

[2015-03-17 16:58] dhirus1 commented on #7651
yes, tried with 'npm cache clean' but did not help..

[2015-03-17 17:08] iccicci opened #7658 "can't login"
[code]

even if

[code]

please help me login

[2015-03-17 17:12] juanluperez commented on #7628
I installed git and now it is working, but, look at this:
# npm list sntp -g
 -> /usr/lib64 /usr/lib
├─┬ castnow@0.4.12
│ └─┬ read-torrent@1.3.0
│   └─┬ request@2.16.6
│     └─┬ hawk@0.10.2
│       └── sntp@0.1.4
├─┬ npm@2.7.1
│ └─┬ request@2.53.0
│   └─┬ hawk@2.3.1
│     └── sntp@1.0.9
└─┬ peerflix@0.29.0
  └─┬ read-torrent@1.3.0
    └─┬ request@2.16.6
      └─┬ hawk@0.10.2
        └── sntp@0.1.4

[2015-03-17 17:13] KenanY commented on #7658
@iccicci So you get the same error when you use `npm@2.7.1` (the log shows `npm@1.3.10`)?

[2015-03-17 18:09] srossross opened #7659 "Looks like NPM can not find the node executable"
I'm trying to install a 3rd party package which works find when I install it manually, however this happens when I run it in an automated build script.

I think the `Error: spawn ENOENT` is coming from `child_process.spawn('node', ...)` which can not find `node`.

I have tried this with npm v2.7.1 and v1.4.28

[code]

[2015-03-17 18:15] kumbulanitshuma opened #7660 "cannot install bower"
i am trying to install bower and the is the errors i am getting
[code]

how can i solve this issue

[2015-03-17 18:26] seldo opened #7661 "npm login with specified port different from saved port failed"
Interesting bug, reproducible in npm@2.7.1. Requires an npm Enterprise or other registry operating on a non-standard port. First, login to the registry:

`npm login --registry=http://some.registry:8080 --scope=@somescope`

Now edit the lines in your .npmrc:

[code]

Attempt to login again:

`npm login --registry=http://some.registry:8080 --scope=@somescope`

The login will time out, because npm wi

[2015-03-17 19:01] navkmurthy opened #7662 "Unable to publish censorify"
[code]

[2015-03-17 19:31] KenanY commented on #7662
@navkmurthy

[code]

It appears as though you are trying to publish a version that has already been published. Have you tried bumping up the version?

[2015-03-17 19:32] KenanY commented on #7660
@kumbulanitshuma Your issue is caused by your version of `npm`... it is **years** old, and does not support the `^` semver operator you see here:

[code]

The solution is to [upgrade](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-nix-osx-linux-etc).

[2015-03-17 20:59] mjackson commented on #7435
@othiym23 The examples I gave in #7030 reproduce this behavior consistently. Do you need something else to repro?

[2015-03-17 21:02] iccicci commented on #7658
Thank you for your quick reply,

maybe the npm I have in my PATH is 1.3.10.
How can I know where npm install -g npm installs the new version?

Thank you,
iCC

On Tue, Mar 17, 2015 at 6:13 PM, Kenan Yildirim <notifications@github.com>
wrote:

[2015-03-17 22:33] mikefreak opened #7663 "npm WARN package.json nan@1.7.0 No readme data."
Hey guys, I try since some hours to install the nodejs serial port package for my graduation project at higher technical school but have no idea how to fix my issue. I need it fast, and would be very glad to find help here.

The problem comes up when I do # npm install serialport (or serialport2)
I work on a Raspbian on my raspi and tried to install phyton and many other ideas i found on the net.

[2015-03-17 22:45] KenanY commented on #7663
@mikefreak The main issue is there error:

[code]

Your version of `npm` is **several years old**, and doesn't support the `^` semver operator you see in the error above. The solution is to simply [upgrade](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-nix-osx-linux-etc).

You can usually ignore `WARN`s with no consequence.

[2015-03-17 22:46] KenanY commented on #7658
@iccicci It is displayed at the end of a successful installation. From your original post:

[code]

[2015-03-17 23:00] mikefreak commented on #7663
This can't be, I upgraded 10 mins before .. Will check it again, thanks atm

[2015-03-18 00:08] jasonpincin opened #7665 "dist-tag failing against npm enterprise"
Attempting to execute dist-tag against a private NPM registry is failing with the message:

[code]

When setting log level to `silly` I see two different URI's:

[code]

This is version `2.7.1`.

[2015-03-18 00:41] iccicci commented on #7658
What to say?

It's now clear I'm drunk :)

Thank you very much.

On Tue, Mar 17, 2015 at 11:46 PM, Kenan Yildirim <notifications@github.com>
wrote:

[2015-03-18 01:03] othiym23 commented on #7665
It looks like you're running an old version of npmE that's lacking the newer `dist-tags` endpoint that npm relies upon to set dist-tags. @bcoe, what version of npmE does one need to be running to get that feature?

[2015-03-18 01:04] othiym23 commented on #7658
Closing as resolved.

[2015-03-18 01:04] #7658 closed

[2015-03-18 03:36] pkittali opened #7666 "npm install webdriver.io"
hi,

I am getting this error whenever trying to run install program.
[code]

[2015-03-18 03:50] limerickgds opened #7667 "only npm -v can be used,other commands cannot be used."
how to handle this problem

[2015-03-18 07:11] okv commented on #7195
Any update on this? (still waiting for JSONStream update ;)

[2015-03-18 08:48] SakerONE commented on #3328
@ciekawy, see https://github.com/npm/node-semver#x-ranges-12x-1x-12-

[2015-03-18 09:00] SCWR commented on #7536
It happened in my redhat system, @smikes

[2015-03-18 09:01] drmyersii commented on #7228
I've spent about 16 hours working on this today (I wish I was exaggerating), and I finally have a solution to the Vagrant/Windows issue at hand. I have been working on a Node.js development environment built on Vagrant, and I have been relentlessly determined to get this working.

[This is the commit that I implemented it in](https://github.com/renobit/vagrant-node-env/commit/bdf15f2f301e2b1660b83

[2015-03-18 09:01] bitinn commented on #7630
@othiym23 is there ways to know what exactly is npm doing and on which request did it get 406 result from github?

[2015-03-18 09:10] bitinn commented on #7630
It looks like I can `npm install bitinn/onchange` and `npm install bitinn/onchange#gaze` without issue

It's only when read from package.json, the request fail. weird.

sample package.json (generated from `npm init`, so I don't know a format issue)

[code]

[2015-03-18 09:25] bitinn commented on #7630
Alright I have made some progress in understanding the problem:

This doesn't work

[code]

But this does

[code]

by default the shorthand resolve to https when specified in package.json (but in command line it resolves to git), so it only fails when in package.json.

but i still need to figure out why fetching over https failed on this imac.

[2015-03-18 09:58] bitinn commented on #7630
@othiym23

my test result on two different Mac, with npm 2.7.0, all of these format works:

[code]

but not this

[code]

And it only fail when listed as a dependency. I have not had this issue with previous releases.

To be honest I am surprised `user/project#commit-ish` is treated any differently from `git://github.com/user/project.git#commit-ish`

[2015-03-18 10:46] KenanY commented on #7667
@limerickgds Could you perhaps provide an error log? Maybe [reinstalling](https://github.com/npm/npm/wiki/Troubleshooting#if-your-npm-is-broken) will help?

[2015-03-18 11:08] Ditchfuuu commented on #7228
drmyersii, this has just worked perfectly for me - thanks for saving me many hours!

[2015-03-18 11:11] Z3roCoder opened #7668 "npm-parameter for HTTP-authentication"
Hello there. I have a little question/request here.

So for installing a package you need to entr the package + version into the package.json.

One entry of mine would look like this:
    "packagexxx": "https://somelink.com/someLinkToTarBall.tgz"

now the problem is that the server the package is on needs http-authentification like "https://username:password@someling.com..." - And I simply cannot

[2015-03-18 11:13] Z3roCoder opened #7669 "UNC path for dependencies in package.json"
As of now it is possible to use local paths, git-urls and http paths to get and install a package.

But it is not possible to do something like:
[code]
because when doing this, on npm install it looks up the gitub repository.

Can this be added as a feature? Or am I simply doing this wrong?

[2015-03-18 11:43] anwaukoni opened #7670 "npm not working after I installed nvm n and now I keep getting “dyld: bad external relocation length”"
I installed nvm, n, using sudo and decided to test it out by downloading several versions of node on my system. When I tried to switch between the node versions I kept getting "Permissions denied." So I decided to sudo the command for switching between versions too. That's when all hell broke loose. I keep getting

         dyld:bad external relocation length

I've tried to reboot my terminal with

[2015-03-18 14:28] smikes opened #7671 "npm explore reports "weird error 1" if subcommand exits w/ code != 0"
Repro case:

[code]

Similarly `npm explore foo find` on eg OSX where find requires an argument yields the slightly confusing:

[code]

[2015-03-18 16:13] navkmurthy commented on #7662
After changing the version ,The following error is occurred

0 info it worked if it ends with ok
1 verbose cli [ 'd:\\development\\nodejs\\node.exe',
1 verbose cli   'd:\\development\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'publish' ]
2 info using npm@2.5.1
3 info using node@v0.12.0
4 verbose publish [ '.' ]
5 silly cache add args [ '.', null ]
6 verbose cache add spec .
7 si

[2015-03-18 16:34] othiym23 commented on #7662
[code]

You can't publish new versions of censorify because you're not one of the owners of the package. Either send the current maintainers a pull request with your desired changes, or request that they add you as an owner of the package so you can publish them yourself.

[2015-03-18 16:34] #7662 closed

[2015-03-18 17:02] atamon opened #7672 "Using the npm client with registry behind client certificates fails"
I'm trying to provide the NPM client with client certificates using the `key` and `cert` options.

This because I need to be able to connect to a local registry running sinopia, and the server has client certificate verification set up as outer protection.

However, I get this error even before NPM can make a connection to the sinopia server

[code]

Where my `.npmrc` config looks like this at the

[2015-03-18 17:16] othiym23 commented on #7630
@bitinn
The 406 is coming from GitHub. You probably have an invalid `github.config` in `$HOME/.gitconfig` on that particular box, and so GitHub is complaining when get tries to use it for HTTPS auth.

The bigger question is why it's trying to use HTTPS for GitHub shortcuts in the first place, and the answer is that you've exposed a fairly convoluted bug. The key clue is that things work differentl

[2015-03-18 17:34] othiym23 commented on #7672
The configuration documentation is maybe not as explicit about this as it should be, but the way it works right now is how it's documented and intended to work – `ca`, `cert`, and `key` are all meant to be used with the actual _contents_ of the PEM-formatted files put into the relevant configuration properties, with something like `npm config set cert "$(cat certfile.pem)"`.

Because proxies are r

[2015-03-18 17:34] #7672 closed

[2015-03-18 17:54] derrelldurrett opened #7674 "unknown error running 'npm install --dev' for cukerecipes"
Apologies if this actually belongs to cukerecipes, as the error message said to report it here. I've installed [cukerecipes](https://github.com/jbpros/cukecipes), and the instructions said to run 'npm install --dev' to continue, whose output was:
[code]

The log is:
[code]

Now that I know I shouldn't be confused by 'Windows NT...', I'm at a loss what to do... I ran it twice, and got exactly the s

[2015-03-18 18:00] bitinn commented on #7630
@othiym23 Thx for confirming this!

As for the error 406, my `.gitconfig` doesn't have a token entry, i assume that can also cause issue with github? (but why?)

[2015-03-18 18:05] othiym23 commented on #7674
Two things:

1. `npm install --dev` is a disguised footgun. It cause npm to install all `devDependencies`, transitively, of all of a package's `dependencies` and `devDependencies`. This may or may not ever finish running, and definitely uses a ton of extra bandwidth and disk space (and exposes many other problems, as you have seen). It should *never* be necessary to run `npm install` with `--dev`

[2015-03-18 18:05] #7674 closed

[2015-03-18 18:07] othiym23 commented on #7630
I'm not 100% sure how you got to the point on that particular machine, but I'd look at `$HOME/.gitconfig` on that machine and compare it to other machines, because the repo is public and if just accessed normally, it shouldn't return an auth failure.

[2015-03-18 18:16] derrelldurrett commented on #7674
1) They may "want" me to do that, but they clearly say to use the --dev switch.
2) The success of the install doesn't change, I just get a less verbose error.

In any case, it sounds as though the real problem is in the dependencies for cukerecipes, so it's likely on them. Thanks for the quick response!

[2015-03-18 18:24] othiym23 commented on #7674
`cukerecipes` looks like it hasn't been updated in a couple years, which is probably part of the problem..

[2015-03-18 18:45] derrelldurrett commented on #7674
Agreed. Which is causing me a certain amount of angst. Oh well....

[2015-03-18 18:56] bitinn commented on #7630
@othiym23

I think what happen here is npm request the repo page using incorrect headers, i used a MITM proxy to capture that error 406 request, and this is what i got:

[code]

[code]

[2015-03-18 19:05] othiym23 commented on #7630
[code]

So the only weird thing I see there is that for some reason npm is trying to request the package repo page, instead of hanging that URL off to GitHub to clone as a repo, and I don't know why one machine would do that and not others. Is `registry` set to a non-default value on that machine?

[2015-03-18 19:27] bitinn commented on #7630
@othiym23 Nope, use default registry. I will look into it more tomorrow, but my rough guess is:

1. bitinn/onchange#gaze is converted into https://github.com/bitinn/onchange#gaze due to the bug you mention.
2. npm believe it's either requesting a json or a tarball (otherwise why use them as accept headers), while https://github.com/bitinn/onchange#gaze accepts neither, so 406 error is thrown.

If

[2015-03-18 19:35] TomFrost commented on #7520
Hey @rockbot and @seldo and @othiym23 and @ceejbot :) Still in a pretty tough spot with this, if there's anything you could do to move those packages!

[2015-03-18 19:50] othiym23 commented on #7520
This is indeed something that @rockbot typically handles, and the way to bring it to her attention is to send an email including the pertinent details to support@npmjs.com.

[2015-03-18 19:50] #7520 closed

[2015-03-18 19:54] TomFrost commented on #7520
Emailed; thanks!

[2015-03-18 19:59] edwinhdez commented on #5133
Try running your command prompt as administrator that worked for me..

[2015-03-18 21:20] atamon commented on #7672
Thanks for the great explanation @othiym23 ! Now I get the cert and key configurations to get picked up properly.

However, I still have problems with the cert option not reaching the server. I get the error

[code]

Reading up on the request lib that is used in npm-registry-client, I find that request expects an object called "agent" that should contain the ssl certificate option.

npm-registry-c

[2015-03-18 22:39] othiym23 commented on #7672
This stuff is fiendishly difficult to test, so things fall through the cracks sometimes. I'll take a look at your PR on `npm-registry-client`. Thanks for figuring this out / thanks for your time!

[2015-03-18 23:47] othiym23 commented on #7630
@bitinn That `accept` header is the one used by `npm-registry-client`'s `.fetch()` method, which is what it uses to download package tarballs from remote servers. The scenario you describe should _always_ cause the install to fail when using a GitHub shortcut in `package.json`, and when I use the `package.json` you provided up the page, everything installs fine. So there is definitely something st

[2015-03-18 23:58] misterdjules commented on #7349
@mchung @cibulka @haxzorer and anyone who encountered this issue:

Do you have some time to build this branch of my joyent/node's fork that contains [a candidate for a fix](https://github.com/misterdjules/node/commit/e0059cd0ef01bab253e05494a2a5354a806dff6d): https://github.com/misterdjules/node/tree/fix-npm-assert and let us know if you can reproduce the bug?

You will probably need to pass `--no

[2015-03-19 01:21] shenyulin opened #7675 "For help：install colors module Error，I don't understand what meaning be."
[code]

[2015-03-19 01:55] DaAwesomeP commented on #7631
It think it had to do with version 1.6.2 of serialport always failing to build.

[2015-03-19 01:55] #7631 closed

[2015-03-19 02:39] KenanY commented on #7675
@shenyulin This is a consequence of https://github.com/joyent/node/issues/8141, and is an issue with the Node installer for Windows. The workaround is to ensure that `C:\Users\shenyulin1\AppData\Roaming\npm` exists and is writable with your normal user account.

[2015-03-19 03:31] shenyulin commented on #7675
Thank you , the problem is resolved.

[2015-03-19 03:35] limerickgds opened #7676 "for help:install grunt error"
[code]

[2015-03-19 05:27] shanesmith commented on #7625
For what it's worth, had an almost exact situation (OS X 10.9.5, node v0.10.36, npm 2.5.1) that also produced the same error.

An update to node v0.12.0 has also fixed it for us.

[2015-03-19 05:37] bitinn commented on #7630
@othiym23 I tried my test with another mac, and you are right, it's able to install with the same package.json, I can see a successful install adds `_git-remotes` to my npm cache folder.

`npm cache clean` doesn't fix the issue on the affected mac, unfortunately, but at least i know this bug doesn't trigger if i don't use shorthand.

In other news, this might be related to #7302

[2015-03-19 05:54] bitinn commented on #7630
As a sidenote, from my MITM proxy capture, I can see a successful install goes to `registry.npmjs.org` for dependencies, and the request to github doesn't go through HTTPS (probably git over ssh).

The affected mac goes straight to github url through HTTPS, and got the error 406 instead.

affected install:

[code]

normal install:

[code]

[2015-03-19 05:58] othiym23 commented on #7630
What does `npm ls -g read-package-json` show on the broken machine? What does `npm ls -g normalize-package-data` show?

[2015-03-19 06:15] bitinn commented on #7630
The broken one:

[code]

[code]

The normal one:

[code]

[2015-03-19 06:26] othiym23 commented on #7630
Wow. I should have had you do that at the start. The npm installation on the broken machine is indeed way broken. It looks like you ran `npm update -g` with a version where that command was broken. If you reinstall npm (`npm -g install npm`) on the broken machine, that should make it behave like all your other machines. I'm not going to say it fixes the bug, because I'm still working on [making it

[2015-03-19 06:32] othiym23 commented on #7195
No, alas, we haven't had time to come up with a plan for this. It's probably sufficient to relax the restrictions in npm / `normalize-package-data` to allow mixed case in and then start enforcing the restrictions on the server side (and maybe warning / erroring in `npm init`, to help prevent this from being an issue in the future, but it hasn't risen to the top of the stack for the core team yet.

[2015-03-19 06:42] JIBIN009 opened #7677 "bower || grunt installation problem, waiting for you help"
[code]

[2015-03-19 07:39] bitinn commented on #7630
@othiym23 yep that worked, thx! didn't know reinstalling io.js doesn't update old dependencies.

[2015-03-19 08:38] haf opened #7678 "Changing arch w/ dirty tree causes native bindings not to be recompiled"
Repro:

 1. Create a project that depends on node-sass
 2. Compile it on OS X
 3. Create a dockerfile that runs `npm install`.
 4. Use the docker client to send the build context through the TCP socket to a linux flavor that's running the docker daemon (`docker build -t tmp .`)
 5. Watch [it crash](https://github.com/sass/node-sass/issues/753#issuecomment-78512751)

Anti-repro: Remove step 2. No e

[2015-03-19 09:01] dominictarr commented on #7195
this did work previously, may I ask what broke it?

[2015-03-19 09:10] rickyspires opened #7679 "npm install -g grunt-cli has errors npm ERR! Darwin 14.0.0"
rickys-MacBook-Pro-2:~ rickyspires$ npm install -g grunt-cli
npm ERR! Darwin 14.0.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "grunt-cli"
npm ERR! node v0.12.0
npm ERR! npm  v2.5.1
npm ERR! path /usr/local/lib/node_modules/grunt-cli
npm ERR! code EACCES
npm ERR! errno -13

npm ERR! Error: EACCES, unlink '/usr/local/lib/node_modules/grunt-cli'
npm ERR!     at Error (native)
npm ERR!

[2015-03-19 10:07] rickyspires commented on #7679
Don't worry :) Problem fixed :)
I needed to be inside the Laravel root folder before running $ npm init

Thanks
Rick

[2015-03-19 10:07] #7679 closed

[2015-03-19 10:50] cibulka commented on #7349
@misterdjules I would love to help, but I can't reproduce the error anymore and most importantly, as I am a very basic `npm install` || `npm update` user, your instructions sound a little bit greek to me ...

Also, this issue is a master for https://github.com/npm/npm/issues/7555#issuecomment-77562410, so I am not a user of Yeoman.

[2015-03-19 12:28] mikefreak commented on #7663
I thought u mean the PI upgrade ^^

I've done the upgrade now and have even there failures ..

root@raspberrypi:/home/pi# npm install -g npm@latest
npm http GET https://registry.npmjs.org/npm
npm http 200 https://registry.npmjs.org/npm
npm http GET https://registry.npmjs.org/npm/-/npm-2.7.1.tgz
npm http 200 https://registry.npmjs.org/npm/-/npm-2.7.1.tgz
/opt/node/bin/npm -> /opt/node/lib/node_modu

[2015-03-19 13:05] atamon commented on #7672
Thanks for the superly awesome short feedback loop on this! Happy to help. :-)

[2015-03-19 13:06] anthonycluse opened #7680 "Error when installing NodeJS package"
I get an issue when installing a package on my linux server :

    npm ERR! Error: getaddrinfo ESRCH
    npm ERR!     at errnoException (dns.js:37:11)
    npm ERR!     at Object.onanswer [as oncomplete] (dns.js:124:16)
    npm ERR! If you need help, you may report this *entire* log,
    npm ERR! including the npm and node versions, at:
    npm ERR!     <http://github.com/npm/npm/issues>

    npm E

[2015-03-19 14:01] hernanhht commented on #7624
This error has happen to us with dependencies in Github and even with deps in the npm registry. Using node 0.8 and 0.10. We have also tested with npm 1.4.x, 2.0.x to 2.7.x.

The only difference we have in our environments it's that locally we don't have set the variable NODE_ENV. In AWS this variable is set to "production".

We are unsetting this variable and keep trying.

I'll keep you guys poste

[2015-03-19 14:33] KenanY commented on #7663
@mikefreak I don't see any failures in the output you've posted. All I see are `WARN`s, which again can usually be safely ignored. I think you might've ran `npm update -g` sometime in the past so now a bunch of your global packages don't have the exact versions of their dependencies.

[2015-03-19 14:52] michande opened #7681 "ERROR npm and node version"
[code]

[2015-03-19 14:53] KenanY commented on #7681
@michande Could you first try [upgrading](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-nix-osx-linux-etc)? Your version of `npm` is a few months old.

[2015-03-19 14:56] KenanY commented on #7680
@tonymx227 This looks like an issue with your internet connection. Are you behind a proxy by any chance? Could you run the command with the `-ddd` flag and upload the resulting `npm-debug.log` as a [gist](https://gist.github.com)?

[2015-03-19 14:57] KenanY commented on #7676
@limerickgds As the error message states, this is most likely an issue with your network connection. Are you behind a proxy by any chance?

[2015-03-19 14:58] michande commented on #7681
Hm, installed it today, but will do

[2015-03-19 15:00] KenanY commented on #7677
@JIBIN009 Your version of `npm` is **several years old** and no longer supported. You are running `1.2` but we're on like `2.7` right now.

Because of your old version of `npm`, the `^` semver operator is not being recognized here:

[code]

As such, `npm` fails to find a valid version to install. I would recommend you first [upgrade Node.js](https://github.com/npm/npm/wiki/Troubleshooting#updating

[2015-03-19 16:19] mikefreak commented on #7663
@KenanY I shall have done it right now, but everything i do now with npm gives me the following error:

node.js:134
        throw e; // process.nextTick error, or 'error' event on first tick
        ^
TypeError: Cannot call method 'apply' of undefined
    at EventEmitter.<anonymous> (/opt/node/lib/node_modules/npm/node_modules/npmlog/log.js:63:25)
    at EventEmitter.log (native)
    at EventEmitt

[2015-03-19 16:28] KenanY commented on #7635
Relevant: so apparently there's a warning for this kind of thing; it is [emitted](https://github.com/npm/normalize-package-data/blob/b73bbb7fe07414f25caf92f7a49509688e7a89e4/test/dependencies.js#L28) by [`npm/normalize-package-data`](https://github.com/npm/normalize-package-data) when one runs `npm install` in a package whose `bundledDependencies` is not an _Array_. Error message can still be bett

[2015-03-19 16:30] KenanY commented on #7663
@mikefreak Yikes, everything looks broken to me :( maybe a [reinstall](https://github.com/npm/npm/wiki/Troubleshooting#if-your-npm-is-broken) is in order

[2015-03-19 17:51] misterdjules commented on #7349
@cibulka Thank you for your response :) If you are able to reproduce this bug at some point in the future, please let me know and I'll provide you with better instructions for how to test the candidate fix I mentioned earlier.

[2015-03-19 19:19] micahblu opened #7683 "Error not a package?"
I'm attempting to install a grunt module with:

`$ npm install https://github.com/micahblu/grunt-replace-text.git`

and getting the following:

[code]

[2015-03-19 20:18] othiym23 commented on #7683
If you want to install a dependency straight from GitHub, you need to run either

[code]

(npm's special GitHub shorthand), or

[code]

(the generic syntax for Git repositories)

Without some indicator that you're installing a GitHub or Git repo, npm tries to download and install the URL as a tarball.

Also, you're using a pretty old version of npm, and should update (the latest is `npm@2.7.1`), b

[2015-03-19 20:18] #7683 closed

[2015-03-19 21:44] othiym23 commented on #7681
@michande It looks like the versions of Node and npm you're running are those packaged by the Linux distro you're using. Those packages are typically pretty old and out of date (the latest version of Node is 0.12.0, and the latest version of npm is `npm@2.7.1`). [Another section](https://github.com/npm/npm/wiki/Troubleshooting#updating-node-on-linux) of the document that @KenanY links to has infor

[2015-03-19 21:48] othiym23 commented on #7678
It sounds like what you want is [`npm rebuild`](https://docs.npmjs.com/cli/rebuild), which is what you should run on a prebuilt tree when moving it between architectures.

[2015-03-19 21:48] #7678 closed

[2015-03-19 21:48] othiym23 commented on #7677
What @KenanY said. Closing as resolved.

[2015-03-19 21:48] #7677 closed

[2015-03-19 21:49] othiym23 commented on #7675
Closing as resolved.

[2015-03-19 21:49] #7675 closed

[2015-03-19 21:51] othiym23 commented on #7671
What's the action item here? Clarify the message printed by npm? Documentation? ?¿?

[2015-03-19 21:56] othiym23 commented on #7670
You appear to have broken your Node installation – that error message is not something that comes from npm (in fact, those are both messages from OS X). You should uninstall everything and start over again. In addition, nvm and n are two different ways of solving the same problem – they're both Node version managers. Maybe try only using one of them when you reinstall?

[2015-03-19 21:56] #7670 closed

[2015-03-19 21:57] smikes commented on #7671
Just a reminder to myself to flesh out the issue when i get back from vacation :-). Clarify is probably right.

On Thu, Mar 19, 2015 at 2:52 PM, Forrest L Norvell
<notifications@github.com> wrote:

[2015-03-19 21:59] othiym23 commented on #7669
Local dependencies are a relatively new feature, and there are a few rough edges still, one of which you appear to have found. If there's a fully-qualified URL (i.e. if it's prefixed with `file:`), npm should never try to resolve that to a GitHub URL. I'd be happy to take a patch for this issue, but I don't really have a good setup for testing it in my work environment (when I'm running Windows, I

[2015-03-19 22:02] TruthAmedzekor opened #7684 "npm EACCES on global install"
[code]

[2015-03-19 22:58] micahblu commented on #7683
@othiym23 Thanks!

[2015-03-19 23:22] ayhankuru commented on #6805
npm publish same error

[code]

[2015-03-19 23:24] KenanY commented on #6805
@ayhankuru Your issue appears to be different. @dylang's issue is with the `/` being turned into a `%2f` in the scope. That is, this is a cosmetic issue while yours is an authorization error. Could you open a new issue instead?

[2015-03-19 23:40] ayhankuru commented on #6805
@KenanY sorry, that's  right

[2015-03-19 23:53] othiym23 commented on #7684
It looks like you don't have write access to `/usr/local` as your user account, as the output says:

[code]

try running `sudo npm install resume-cli -g`, and you should have a better experience.

[2015-03-19 23:53] #7684 closed

[2015-03-20 00:20] #7630 closed

[2015-03-20 00:22] othiym23 commented on #7630
It took a little bit of work, but npm has now been changed to always run GitHub URLs (regardless of how they're specified on the command-line or in `package.json`) run through the same process of trying `git:` first, and then falling back to `ssh:` to clone. There are probably some further documentation tweaks that need to happen to make this consistent with the documentation, but the inconsistenc

[2015-03-20 00:28] anwaukoni commented on #7670
Yes, you are right. Uninstalled and reinstalled using nvm and now all is working right. Thanks

[2015-03-20 00:31] othiym23 commented on #7668
If you want to install from a remote tarball, you'll either need to make that tarball publicly accessible, embed the credentials in the URL (which is, as you noted, insecure), or perhaps make the package you want to install a private Git repo, either on GitHub or elsewhere, where you can use ssh keys or GitHub auth tokens to control access to it.

There isn't a way to store credentials for authed

[2015-03-20 00:31] #7668 closed

[2015-03-20 01:15] smikes commented on #7671
Looks like this is happening when `explore` is calling a callback with a non-null, but non-Error first argument.  The `ELIFECYCLE` error is probably not appropriate.  I will write a PR that creates a new error category, maybe.

[2015-03-20 01:21] smikes commented on #7583
This looks like it may have been a truncated response from the registry -- do you repeatedly get the same result if you clean the cache and install again?

[code]

[2015-03-20 01:23] smikes commented on #7584
I think the problem is that `npm` is interpreting the package name argument as a directory, instead of as a package name.  Try

[code]

That will unambiguously specify a version from the `npm` repository.

[2015-03-20 01:25] smikes commented on #7604
Thanks for reporting this.  Could you please upload your full log (`c:\SAP\MobileSDK3\KapselSDK\apps\fiori_client\npm-debug.log`) to github as a gist: https://gist.github.com

This may be a problem with node 0.12.0, but we really need to see the stack trace (which should be in that file) in order to narrow down the cause.

Thanks!

[2015-03-20 01:26] smikes commented on #7614
Also ref to #6766 , which has some cleanup logic that may be salvageable.

[2015-03-20 01:27] smikes commented on #7632
This is almost certainly a race condition; there were many present in older versions of npm.  If you have control over your heroku build scripts, add

[code]

before any other use of npm, and you should see both better performance and fewer bugs.

[2015-03-20 02:19] smikes commented on #7666
Are you using a firewall or https-intercepting proxy?

[2015-03-20 03:51] pkittali commented on #7666
hi Sam,

I am behind corporate proxy, ran the following commands to set the proxy:
npm config set proxy http://xxxxx:80
npm config set https-proxy http://xxxxx:443

but still I see the following error in log file:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\pkittali\\NodeJS\\\\node.exe',
1 verbose cli   'C:\\Users\\pkittali\\NodeJS\\node_modules\\npm\\bin\\npm-cli.js',
1 verbos

[2015-03-20 04:16] JIBIN009 commented on #7677
Thank You :+1:

[2015-03-20 04:36] bitinn commented on #7630
:+1:

[2015-03-20 04:56] limerickgds commented on #7676
@KenanY   proxy of our company has  some problems, proxy was back to normal today, thank you for your reply.

[2015-03-20 05:22] gxll opened #7687 "ERROR when install npm appnium"
C:\Users\i\AppData\Roaming\npm\node_modules\appium\node_modules\ws>node- "C:\Pro
gram Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp
\bin\node-gyp.js" rebuild
npm WARN engine xmlbuilder@2.2.1: wanted: {"node":"0.8.x || 0.10.x"} (current: {
"node":"0.12.0","npm":"2.5.1"})
/

les\socket.io\node_modules\engine.io\node_modules\ws

-
C:\Users\i\AppData\Roaming\npm\node_modu

[2015-03-20 05:46] haf commented on #7678
I think it's a bug that npm install doesn't care about what architecture it's on. It means npm says it's successful, when it's really not.

The theme should be this: "`npm install` is all you need to compile"

[2015-03-20 06:26] othiym23 commented on #7678
So, let's walk through this a bit. I think it's generally agreed that the npm's current approach of saying, "welp, this package already has a directory in `node_modules`, so I don't have to do anything," is unhelpful in many cases (previous install crashed halfway through, weird dependency snafu in its transitive dependencies – that kind of thing). That was one of the major reasons why we started

[2015-03-20 06:32] #7661 closed

[2015-03-20 06:36] othiym23 commented on #7661
Fixed in 3a127235076a1f00bc8befba56c024c6d0e7f477. It wasn't even that traumatic a change. Thanks for filing this, Coach!

[2015-03-20 07:27] yoavniran commented on #5875
ran into this issue now with a helper im writing (used with npm link) not working because it cant require the dependency from the parent.
Would love to get an update on whether this will be fixed anytime soon.

[2015-03-20 08:44] johnkors commented on #7632
I got it working in the end by deleting modules that I had put in my repo being pushed to Heroku, but will definitely do that. Not sure why I'm on such an old version of npm in the first place. Thanks, @smikes !

[2015-03-20 08:44] #7632 closed

[2015-03-20 09:27] UltimateFighter opened #7688 "npm install failed"
under Windows 8 the comand "npm install" ever failed because the path npm is searchinfg for ist ever "c:\".

The PATH enviroment varibale (C:\Users[#myusername]\AppData\Roaming\npm) seems to ignore.
# Error:

[code]

[2015-03-20 10:23] doberkofler commented on #7584
@smikes thank you. this worked but i would say this is generally a bug in npm

[2015-03-20 11:13] yanxyz opened #7689 "npm help <term> always showing "Top hits" list"
After I install io.js 1.6.1 which contains npm 2.7.1, npm help <term> always showing "Top hits" list. Then I delete the file npm and npm.cmd in the io.js dir and install the older version npm.  The problem remains under npm@2.7.0. The problem is gone under npm@2.6. My OS is win8.1 x64.

[2015-03-20 11:35] KenanY commented on #7635
Fixed in [`npm@2.7.4`](https://github.com/npm/npm/releases/tag/v2.7.4) :)

[code]

[2015-03-20 11:46] KenanY commented on #7689
@yanxyz I can't reproduce on Linux, but this might be system specific. Probably a result of https://github.com/npm/npm/pull/4595, which was introduced in `npm@2.7.0`. Could you test each of the following commits to see if I'm correct on this?

https://github.com/npm/npm/compare/628fcdb0be4e14c0312085a50dc2ae01dc713fa6...d3cb6e1ff82d8cae7610b6c0ad751913d09846b6

  - https://github.com/npm/npm/commi

[2015-03-20 12:16] smikes commented on #7659
Thanks for the bug report.

Since it fails with `npm@2.7.1` as well, can you please upload the full `npm-debug.log` from that failure as a gist (https://gist.github.com)?

[2015-03-20 12:49] smikes commented on #7584
At the very minimum this is a bug in the documentation (which I have now changed to say `npm install npm@latest`).

I believe the problem comes because `npm` allows you to specify a package to install in a number of ways, including as a name (from the registry), as a tarball, as a git repository, and as directory.  On Windows, `npm` is installed by the `node` installer under `C:\Program Files\node

[2015-03-20 13:02] smikes commented on #7687
It looks like there are a few problems here.  Let's approach them one by one.

First, it looks like you have some older packages and dependencies (did you used to have `node@0.8` installed?).  Let's clean those up, and update `npm` at the same time:

[code]

Next, it looks like there's a bad copy of `traceur` in your cache:
[code]

now you can try installing appium

[code]

If this doesn't help, p

[2015-03-20 13:03] smikes commented on #7688
It looks like your package `votinggui` has an `install` script that assumes that its dependencies are already in place.  Can you try moving that to a `postinstall` script?

[2015-03-20 13:04] yanxyz commented on #7689
All have the same result, showing the "Top hits" list.

![image](https://cloud.githubusercontent.com/assets/737120/6751822/a73b5fd8-cf43-11e4-94e5-260716ebe4cf.png)

[2015-03-20 13:05] smikes commented on #7634
If you have published a package to the repository (with `npm publish`) then there will be a page for your package on npmjs.org -- e.g., https://www.npmjs.com/package/license-checker

[2015-03-20 13:07] smikes commented on #7639
Hm.. sometimes Windows path problems can happen when the system PATH environment variable is updated, but the update is not reflected in already-running CMD shells.  Does the problem persist if you open a new `node for Windows` shell?  (Sorry if I have the terminology wrong, I don't have access to a Windows machine right now.)

[2015-03-20 13:10] mscdex commented on #7635
@KenanY :+1:

[2015-03-20 13:14] dotku opened #7690 "Do you have CDN for China?!"
It seems slow over here...

[2015-03-20 13:15] smikes commented on #6126
I believe this has been addressed sometime in the last few months.  When I use `npm login` with `npm@latest`, I am prompted like this:

[code]

which shows my previously-configured email address as the default value for `email`.

@zhanzhenzhen is this what you had in mind by making the hint more informative, or do you think it could still be better?

[2015-03-20 13:21] yanxyz commented on #7689
I test io.js 1.6.1/npm 1.7.1 in other systems. It's ok  under Ubuntu, it has the problem under xp.

[2015-03-20 13:26] smikes commented on #7652
Thanks for the bug report.

I believe this is in the works to be addressed with registry-2 in that the commands `npm adduser` and `npm login` will actually have distinct behavior; specifically `npm login` will not attempt to create a new user if the named user doesn't exist. (see https://github.com/npm/npm/issues/5068#issuecomment-70610292 )

[2015-03-20 13:30] smikes commented on #7666
There are a few more things you can try (see https://github.com/npm/npm/wiki/Troubleshooting#ssl-error )

This disables use of `npm`'s built-in ca list, and causes you to use the system list:
[code]

This tells `npm` to use the unencrypted, unauthenticated registry endpoint:
[code]

However that second one leaves you open to a variety of attacks, so we don't recommend it.

[2015-03-20 13:34] michaeldeitcher opened #7691 "Unable to install bower on Yosemite"
Here is my log file:

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'install', '-g', 'bower' ]
2 info using npm@2.7.1
3 info using node@v0.12.0
4 verbose node symlink /usr/local/bin/node
5 silly cache add args [ 'bower', null ]
6 verbose cache add spec bower
7 silly cache add parsed spec { raw: 'bower',
7 silly cache add   scope: null,
7 silly cache add   name:

[2015-03-20 13:35] smikes commented on #7653
Thanks for the bug report!

It looks like we are creating a `request` object with the protocol set to `null`:

[code]

[2015-03-20 13:37] smikes commented on #7657
Thanks for reporting this.  This can sometimes mean a package was corrupted in transit or it can mean there is a problem with the disk.  Can you try cleaning the cache for that package and re-installing?

[code]

[2015-03-20 13:38] smikes commented on #7656
Thanks for the bug report!

[2015-03-20 13:39] KenanY commented on #7691
To quote @othiym23:

[2015-03-20 13:39] smikes commented on #7690
There isn't an *official* mirror, but there is an unofficial mirror here: https://npm.taobao.org/

[2015-03-20 13:40] KenanY commented on #7656
I'm looking into this.

[2015-03-20 13:44] zhanzhenzhen commented on #6126
I think it's not your first login on this machine. I just mean first login on a machine.

Email is different than username and password. I think better the email field has this `or leave unchanged` hint, on first login on a machine.

But when I reviewed the `adduser` help, I found:
"When authenticating on a new machine, the username, password and email address must all match with your existing rec

[2015-03-20 13:45] smikes commented on #4096
@ythej could you please create a new issue <https://github.com/npm/npm/issues/new> and attach your full npm-debug.log as a gist <https://gist.github.com/>

[2015-03-20 13:47] michaeldeitcher commented on #7691
Ah I rebooted and it worked. Thanks KenanY

[2015-03-20 13:47] #7691 closed

[2015-03-20 13:51] smikes commented on #6126
Oh, yes, that's a different problem.  At present the username, password, and email must all match when logging in from a new machine.  That may be going to be fixed in registry-2.0, but I haven't heard about that.

[2015-03-20 14:27] smikes commented on #5068
Also ref case #6126

[2015-03-20 14:34] smikes commented on #6948
Is this still a problem for you?

Is it possible that you are using a proxy that intercepts ssl connections?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 14:35] smikes commented on #7111
Is this still a problem for you?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 14:35] smikes commented on #7127
Is this still a problem for you?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 14:36] smikes commented on #6974
Is this still a problem for you?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 14:41] smikes commented on #7151
Is this still a problem for you?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 14:52] smikes commented on #7163
Is this still a problem for you?

The `warning: unmet dependency` messages you are seeing can be fixed by running:

[code]

This should prevent the two modules from sharing incompatible dependencies.

There have been a lot of improvements to npm since January. Can you try updating your npm installation?

To update npm on Windows, follow the instructions here: https://github.com/npm/npm/wiki/Troubl

[2015-03-20 14:53] smikes commented on #7129
Is this still a problem for you?

To update npm on Windows, follow the instructions here: https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 15:00] srossross commented on #7659
Where can I find the npm-debug.log?

[2015-03-20 15:05] smikes commented on #7210
Is this still a problem for you?

To update npm on Windows, follow the instructions here: https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 15:10] smikes commented on #7248
Is this still a problem for you?

Could you please upload your npm-debug.log as a  gist <http://gist.github.com>? If possible, run npm with at least one `-d` flag to increase the logging level.

There have been a lot of improvements to npm -- especially around git dependencies on Windows -- since 2.3.0. Can you try updating your npm installation?

To update npm on Windows, follow the instructions

[2015-03-20 15:15] automatenv212 opened #7694 "installation error on ubuntu 14.04"
Output of : npp install -g appium
--------------------------------------------------------------------------------------------------------------
[code]
--------------------------------------------------------------------------------------------------------------

[2015-03-20 15:27] amolgawai commented on #6948
Yes. This is still a problem for me although I have found a workaround as described in my comment of Jan 12. I still get errors for pako and tar packages.

[2015-03-20 15:33] sytong opened #7695 "npm adduser - cannot auth an existing account in new machine"
I got the below error message and I am not sure what to do.
I have successfully auth my account on another machine earlier today but couldn't do this again when I am at home.
I am sure my id, password and email are correct as I can logon to the npm web site.

I was also having some trouble accessing npm web site earlier tonight, got 503 Backend Read Error but it seems to be ok now.

Any suggestion

[2015-03-20 15:47] smikes commented on #7042
Is this still a problem for you?

Have you worked around this problem somehow, or is this still preventing you from auto-publishing from travis?

We are trying to clean up older npm issues, so if we don't hear back from you within a week, we will close this issue. (Don't worry -- you can always come back again and open a new issue!)

Thanks!

[2015-03-20 15:55] smikes commented on #6948
Can you try updating your version of `npm`?  If you are still using `npm@1.4.28`, it's known to have some race conditions and bugs that affect installation on Windows.

To update npm on Windows, follow the instructions here: https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

[code]

[2015-03-20 16:00] smikes commented on #7659
`npm-debug.log` should be generated in the current directory by current versions of `npm`.

You may need to tell your automatic build system not to clean up the temporary directory if your automated build script fails.

[2015-03-20 16:16] amolgawai commented on #6948
I did upgrade npm to 2.1.12 and still had problems. Right now I am using npm 2.1.18 and still have those problems.

[2015-03-20 16:20] smikes commented on #7695
This error: ` forbidden may not mix password_sha and pbkdf2` is usually fixed by changing your password at <https://npmjs.org/password> -- you can even "change" it to the same password as you currently have.  The important part is invalidating the older version of the auth token (password_sha).

Please let me know if this doesn't work, though.

[2015-03-20 16:21] smikes commented on #7694
If you run `npm install -g appium` manually and it fails, this should generate the file `npm-debug.log` in the current directory.  Can you please upload this file as a gist <https://gist.github.com>?  Thanks.

[2015-03-20 16:22] plato-cambrian commented on #7620
I am still encountering this error after `npm install -g npm@next`:
[code]

I do NOT have a `cucumber` binary in my system path.
I ran `rm -rf node_modules/` before running `npm install`.
Here is the contents of the .bin folder where the symlink fails:
[code]

[2015-03-20 16:26] doberkofler commented on #7584
@smikes Changing the documentation is for sure helpful. Given the fact that by for installation will probably be done from the registry, I find your solution quite reasonable. Eventually this could also be restricted to the npm package.

[2015-03-20 16:27] plato-cambrian commented on #7620
I found a workaround:
[code]

For anyone wanting to reproduce this in the future, i am experiencing these problems with [this commit](https://github.com/SocietyPro/sopro/blob/e478aa7ed5e2998886d84a991a9a4aa23bc4093e/apps/chat/package.json) of my project

[2015-03-20 16:31] srossross commented on #7659
https://gist.github.com/srossross/f44ec759d86aa3c98d25

[2015-03-20 17:38] smikes commented on #6948
Sorry, I missed that. The current version is now 2.7.2 and substantial fixes to the Git support on windows went in pretty recently (>2.5). I am not at a windows machine now but I will be on Monday, so I will see if I can reproduce the problem and narrow down the cause.

[2015-03-20 17:59] sytong commented on #7695
That works!!
Thanks a lot Sam!!

[2015-03-20 17:59] #7695 closed

[2015-03-20 18:38] smikes commented on #7578
Thanks for reporting this.  When node @ 0.12.1 is released (soon) can you try using that to see if the problem was resolved?  Alternatively, could you try downgrading to node @ 0.10 and see if the problem is still present?

Thanks!

[2015-03-20 19:54] mikefreak commented on #7663
For those who struggle at the same problem, got the solution.

The error means:"TypeError: Cannot call method 'apply' of undefined"
that means npm wants to apply something where he gets undefined as a result.
This results because of searching in the wrong place. When i did node -v i misteriously got "v0.6.19" even though i never installed this version. what ever.
Solution is completely uninstall n

[2015-03-20 20:45] mushishi78 opened #7697 "npm ERR! network connect ETIMEDOUT"
Fresh install of node.js and npm, I'm getting a timeout when installing some, but not all, packages. Specifically, I can successfully install gulp, babel and webpack, but not browserify or bower.

I'm not behind a proxy server, and I've tried setting the registry to http rather than https.

[Here is the npm-debug.log from trying to install browserify.](https://gist.githubusercontent.com/mushishi78

[2015-03-20 20:57] mushishi78 commented on #7697
Wouldn't you know, I got it working 10 minutes later. Sorry to be a bother.

[2015-03-20 20:57] #7697 closed

[2015-03-20 21:11] vrn1kor opened #7698 "NPM Install command issue"
Hello Team,

I have been using nodeJS for quite sometime and everything was fine. Unfortunately the npm installation command is not working anymore. I tried various ways including proxy settings. Which ever command I try to use I get the either of the following error.

1. ERROR -4048
2. ERROR ECONNRESET

NPM version is as follows,
NPM: 2.5.1
Node:0.12.0

Thanks in advance,
Venkat

[2015-03-20 21:25] KenanY commented on #7698
Could you first try restarting the machine? If issue persists, could you also try downgrading to the latest Node.js v0.10? v0.12 is still kind of new, so maybe it causing an issue here. These are the steps from @smikes that solved this same issue here: https://github.com/npm/npm/issues/7528

Yeah, this is an issue with your internet connection :/ (despite your mentioned proxy settings)....

If you

[2015-03-20 21:25] mattpodwysocki commented on #5082
[RxJS](https://github.com/Reactive-Extensions/RxJS) has been hit with this the past couple of deployments where the `index.js` is missing which breaks bower among other places.  I've had to unpublish `rx@2.4.2` and `rx@2.4.4` respectively.  It did work, however, for `rx@2.4.3` which seems strange.

See these issues for details:
https://github.com/Reactive-Extensions/RxJS/issues/633
https://github.

[2015-03-20 21:34] vrn1kor commented on #7698
Hi Kenan,
Thanks.

ERROR -4048: I tried restarting the system (Windows 7) and the problem does not solve. I will try to downgrade rhe Node.JS version.

ERROR EPERM display when I try to set the proxy:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files (x86)\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cl

[2015-03-20 21:42] KenanY commented on #7698
@vrn1kor

[code]

What happened to Node.js v0.12 and `npm@2.5.1` :scream:

As for the `EPERM`, it is strange to me how you don't have permission to access the config file. I guess you could try [changing the permissions](https://support.microsoft.com/en-us/kb/308419)?

[2015-03-20 21:45] vrn1kor commented on #7698
It looks really strange. If I try to run the command "npm version" I get the following,

NPM:2.5.1
NODE: 0.12.0

Then how come it is displaying a different version ?. I am surprised.

[2015-03-20 21:47] KenanY commented on #7698
@vrn1kor Oh, maybe you have `npm` installed in two places: the Node.js directory (`C:\Program Files (x86)\nodejs\`) and the `APPDATA` folder... it's a little complicated but this might help explain it: https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

[2015-03-20 21:50] vrn1kor commented on #7698
Yes, you are right I have it in 2 places. Is this a problem ? If so, which one to delete. ?.

[2015-03-20 21:54] KenanY commented on #7698
@vrn1kor Personally, I like option 2 from [here](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows) for its simplicity. Don't miss the paragraph about `.npmrc` that comes after the list :)

[2015-03-20 21:59] vrn1kor commented on #7698
I followed option 2, but I have the folder C:\Users\<username>\AppData\Roaming\npm\node_modules BUT NOT C:\Users\<username>\AppData\Roaming\npm\node_modules\npm to place the NPMRC file. Any idea ?.

[2015-03-20 22:03] vrn1kor commented on #7698
I created a new folder NPM I tried....

[2015-03-20 22:04] KenanY commented on #7698
@vrn1kor Ohhh shoot, I forgot to make sure you do `npm install -g npm` to get that folder there :( could you bring back the `C:\Program Files (x86)\nodejs\` files from the Recycling Bin and see if you can run `npm` from the command line?

[2015-03-20 22:07] vrn1kor commented on #7698
No, I created a new folder "npm" and placed the file "npmrc" under the folder : C:\Users\XXXXXXX\AppData\Roaming\npm\node_modules\. But now when I run the command "npm" it is saying the statement is not recognized.

[2015-03-20 22:19] KenanY commented on #7698
@vrn1kor Yeah because we deleted `npm` :( now I'm really confused though as to why it seemed like you had two different version of Node and `npm` installed....

[2015-03-20 22:23] vrn1kor commented on #7698
Shall I restart the system ?.

[2015-03-20 22:26] vrn1kor commented on #7698
Or shall I install the NodeJS again ?. How to delete the complete trace of NodeJS on my system ?.

[2015-03-20 22:32] xtianus79 commented on #7634
i totally git it... thanks for the response!

[2015-03-20 22:32] #7634 closed

[2015-03-20 23:36] othiym23 commented on #5082
My top two priorities for next week are getting to the bottom of this and figuring out what's up with CouchDB and io.js / Node.js 0.12+ Keep-Alive not getting along. I've probably put about 20 hours into this bug so far, but I need to really take apart all the various fstream / node-tar pieces and try to figure out how they should go back together.

[2015-03-21 01:17] drmyersii commented on #7308
@DmitryRomanenko @othiym23 I think the other important thing to point out here is that npm is actually incapable of detecting the host filesystem since npm is being run on Ubuntu in a virtual machine. The real solution here would be to set your configuration to allow symlinks on Windows hosts in your Vagrantfile. Here's an example (assuming that you are running it in VirtualBox):

[code]

If you r

[2015-03-21 01:27] drmyersii commented on #7314
@LoveAndHappiness @StarpTech In case you were still having issues with this, take a look at [this comment](https://github.com/npm/npm/issues/7228#issuecomment-82829637) I made on another thread. It actually has to do with Windows long paths in Vagrant, and it could possibly be the cause of your problems.

[2015-03-21 02:07] othiym23 opened #7699 "Node.js 0.12.0 / io.js 1.x http.Agent keep-alive has problems with CouchDB"
New nodes have a new (which is to say working) HTTP keep-alive agent. So far it seems to cause no problems for npm in practice, but the npm tests (including in continuous integration) consistently hang when running the tests that hit a local CouchDB instance to test the CouchDB application that powers npm's registry.

### steps to reproduce:

1. ensure that you have a recent version of io.js insta

[2015-03-21 04:47] othiym23 commented on #7620
@plato-cambrian I'll take a look -- I suspect, based on your workaround, that you're running into a separate issue a few other people have seen, which is related to multiple things trying to claim the same symlink name. I won't have time to get to this for a week or so, because of other work I have in the pipeline. Thanks for the report and the link to a repro case!

[2015-03-21 05:13] jayphelps commented on #6351
Ever since `publish -f` [went away](http://blog.npmjs.org/post/77758351673/no-more-npm-publish-f), this is missing has caused me to have to literally create throw away package registrations so I can "test" configurations, particularly complex `.npmignore` scenarios.

[2015-03-21 07:51] jayphelps commented on #6351
Tip: you can work around this by trying to publish using an npm user who is not authorized to publish. It will build the tarball and everything, just not publish. You can then untar it and see what *would* have published. For OSX, it will be localed `/Users/your-username/.npm/your-project/X.y.z/package.tgz` (you can find the path in your `npm-debug.log`)

[2015-03-21 08:13] janl commented on #7699
@othiym23 do you still have the wireshark dumps around?

[2015-03-21 08:59] glenjamin commented on #6351
@jayphelps `npm pack` will build the tarball without publishing - does that not suit your use-case there?

[2015-03-21 09:12] jayphelps commented on #6351
@glenjamin yep.....if only I had RTFM....
![DOH](http://media1.giphy.com/media/8WdsK61D9YOOc/200.gif)

[2015-03-21 10:28] namlook commented on #5082
Thank you for your time Forrest :beers:

[2015-03-21 16:23] othiym23 commented on #7699
I do. I'll figure out some way to share them and put a link here.

[2015-03-21 17:40] othiym23 commented on #7699
@janl <https://github.com/othiym23/debugging-npm-couchdb-iojs>

These captures comprise only the initial population of the VDUs into the new Couch database and the potentially failing auth calls. There are, right now, two traces – one with keep-alive enabled, and one without. The former fails and the latter succeeds.

Let me know if you want any other traces. Capturing them is pretty easy for me n

[2015-03-21 20:16] shrisarnobat1980 opened #7701 "Attempt to unlock node_modules/socket.io, which hasn't been locked"
When I run node install command, I get below exception

npm ERR! Darwin 14.0.0
npm ERR! argv "node" "/usr/local/bin/npm" "install"
npm ERR! node v0.12.0
npm ERR! npm  v2.7.1

![image](https://cloud.githubusercontent.com/assets/9894601/6766667/792b9f5c-cfcc-11e4-8f04-21a7d65426aa.png)

npm ERR! Attempt to unlock /Users/smitasarnobat/website/node_modules/socket.io, which hasn't been locked

[2015-03-21 20:28] KenanY commented on #7701
@shrisarnobat1980 Looks like you might have lost permission to write to your `npm` cache folder. Could you try running the following command?:

[code]

[2015-03-21 20:31] shrisarnobat1980 commented on #7701
Gr8. It worked. It created node_modules folder.

[2015-03-21 20:31] #7701 closed

[2015-03-21 20:41] a1russell commented on #7264
I believe this is a bug. I have just experienced this, although my problem is not related to node_modules. I have in my .npmignore a line `.module-cache/`, and my build outputs some directories like `lib/.module_cache` and `lib/js/.module_cache`. These directories do not get ignored, when they should. Git correctly ignores them with the same pattern in .gitignore.

[2015-03-21 23:25] hallipr commented on #7151
I haven't seen the issues since updating npm.   Thanks for resolving this
for us.

On Fri, Mar 20, 2015 at 9:41 AM, Sam Mikes <notifications@github.com> wrote:

[2015-03-22 01:34] matheusxaviersi opened #7702 "Problems with the login command."
follows the npm-debug.log file contents
[code]
![image](https://cloud.githubusercontent.com/assets/4708586/6767662/d0fdb942-d01a-11e4-9f51-4b7bb7d15abb.png)

[2015-03-22 01:44] #7702 closed

[2015-03-22 02:41] XeCycle opened #7703 "Fallback to install <name> when install <tarball file> failed"
npm install module-name-on-npmjs-registry will fail if a file with the same name exists in cwd, but is not a valid module tarball.  E.g.:
[code]
--- fail.

[2015-03-22 03:41] pleivac opened #7704 "Error executing: npm i -p nativescript"
Hi, I'm trying to install nts on my Mac Yosemite, but this error happens when I execute the command: npm i -p nativescript.

The output is as follow:
[code]
Thanks for the support!
Cheers,
Pedro.

Attachments: my npm-debug.log
[code]

[2015-03-22 08:46] michande commented on #7681
I haven't come around to it as of yet, but I am sure your tips is fixing it. Grateful for your input.

I will get back and give answer when I have updated and tested it.

[2015-03-22 08:56] skeleton1231 opened #7705 "npm install phonegap"
[code]
can anyone help? thanks a lot

[2015-03-22 09:25] FagnerMartinsBrack opened #7706 "Potential race condition on Windows 7 x64"
Recently I started having a problem with my npm installation, I hope someone could shed some light in case this is a problem with my environment. I didn't found any issue regarding this.

Before explaining what happened here what I have done:

* I removed the previous node version, removed the folder `C:\Users\<user>\AppData\Roaming\npm`, installed the latest node `0.12.0` (x86) and updated npm to

[2015-03-22 12:14] steelhayr opened #7707 "Problems installing phonegap (npm err rolling back ENOTEMPTY)"
Hello everybody

I am trying to install PhoneGap on Windows 7, but no matter the Node.js (and npm) which I choose, it fails.

Since I have had several errors before about http-proxy, I typed this firstly:
[code]
(And it works)

This is output when I type npm install -g phonegap :
[code]
I would be pleased for any help that anyone could give me
Thanks beforehand
Please let me know if you need more

[2015-03-22 14:42] KenanY commented on #7707
@steelhayr Your version of `npm` is several years old and no longer supported. The reason you are getting the issue is because your version of `npm` does not know how to parse the `^` semver operator you see here:

[code]

The solution is simply to [upgrade](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

[2015-03-22 14:43] KenanY commented on #7704
@pleivac It looks like you don't have the necessary permissions to write to `npm`'s cache directory. Could you try the following command?:

[code]

[2015-03-22 14:52] KenanY commented on #7703
@XeCycle So you think `npm` should first assume registry?

[2015-03-22 15:07] automatenv212 commented on #7694
https://gist.github.com/automatenv212/b1a49e4086b8cbad6795

[2015-03-22 15:44] bdefore opened #7708 "npm install fails when using dependencies assigned with https://github.com"
I'm using nvm on OSX 10.10.1 and with a package.json of:

[code]

I get this output from node 0.12 and then 0.10: https://gist.github.com/bdefore/067b7372ad8406f35006

[2015-03-22 15:52] KenanY commented on #7708
@bdefore Please see the [docs for `npm install`](https://docs.npmjs.com/cli/install). If you want to provide a URL, it has to lead to a tarball. I assume you want `npm` to `git clone` that repository, in which case you should do:

[code]

Which is shorthand syntax.

[2015-03-22 15:52] bdefore commented on #7708
Cross posted from atom/apm#319

[2015-03-22 15:56] bdefore commented on #7708
That works, thanks.

[2015-03-22 15:56] #7708 closed

[2015-03-22 16:33] steelhayr commented on #7707
@KenanY Thanks you very much for clarifying me!
I will try a newer version.

[2015-03-22 20:43] intelligence commented on #7349
@misterdjules I'm experiencing the said bug. I'm a basic user aswell so some help to get the candidate fix in place would be great!

[2015-03-22 23:26] XeCycle commented on #7703
@KenanY Yes, that covers more cases.  To force installing a local tarball one can say install ./tarball-file-name, if that name exists in the registry, but the reverse is difficult; using user/name may also fail if user/name exists in cwd.

[2015-03-23 04:26] cmpsoares91 opened #7709 "Can't istall nor publish latest version of module on npm"
Hi I managed to publish the first version without any problems but after that it has been problem after problem. I'm getting this error and can't figura out why:

<pre>
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'git://github.

[2015-03-23 05:35] shubha123 opened #7711 "Unable to install express in visual studio 2012 professional"
I have installes ntvs software and able to add nodejs express project in my visual studio 2012.while adding it gives me a popup stating that to add npm pakage .while installing it will end with waring message with missing express installation.can you please help me in this.

[2015-03-23 06:36] cici1989 opened #7712 "npm install gitbook-cli -g"
[code]

[2015-03-23 07:13] watilde opened #7713 "npm link error"
Hi
`npm link` seems failed when use a node version manager has different depth of global node_modules, see also: https://github.com/hokaccha/nodebrew/issues/30

I thought this fix might be good in [util/link.js](https://github.com/npm/npm/blob/master/lib/utils/link.js#L27):
[code]

Also here are logs: https://gist.github.com/watilde/1cf414a13506812a0cc5

Thanks.

[2015-03-23 09:07] esemtia-aaa opened #7714 "Error downloading packages using a proxy with authenthication"
I have configured my proxy settings in .npmrc and my proxy sends me an error that says that i'm not authentificated. Is a proxy error or is an error of npm settings?

[2015-03-23 10:48] KenanY commented on #7712
@cici1989 Have you tried using `sudo`, as the error message suggests? It appears as though your global `npm` modules are installed to `/usr/local`, which you don't have permissions to write to unless you use `sudo`.

[2015-03-23 10:50] KenanY commented on #7711
@shubha123 If this is indeed a `npm` issue, we can help :) is there any sort of error log that you could upload as a [gist](https://gist.github.com)? It's not immediately clear to me what the issue is nor who is at fault.

[2015-03-23 11:43] raghucssit opened #7715 "unable to install jquery and nodequery"
hi am unable to install jquery and nodequery in node js

i got the below error message

[code]

[2015-03-23 11:53] KenanY commented on #7715
@raghucssit Hmm, I don't think I have seen this before. However, there doesn't appear to be a package called `nodequery` on the registry:

[code]

I'm not sure where the `socks:` protocol came from. If you'd like help with that, could you upload the resulting `npm-debug.log` as a [gist](https://gist.github.com)?

[2015-03-23 12:03] raghucssit commented on #7715
hi kenon,

below is the npm-debug.log
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'nodequery' ]
2 info using npm@2.5.1
3 info using node@v0.12.0
4 verbose node symlink C:\Program Files\nodejs\\node.exe
5 verbose config Skipping

[2015-03-23 12:55] TataCS opened #7716 "Apache JMeter with Cassandra"
I require the pre complied Cassandra jars that work with Apache Jmeter-2.13
I tried building the jars using CassJmeter and Cql-jmeter but could get only few of the functionlaity
The basic functionality of PUT,COUNTER PUT, BATCH PUT, COMPOSITE PUT, GET cannot be accessed.

[2015-03-23 12:57] KenanY commented on #7716
@TataCS Is this an issue with `npm`? If not, you might have better luck getting help from the developers of what you are having an issue with.

[2015-03-23 13:00] TataCS commented on #7716
no its isnt sorry for the wrong post

[2015-03-23 13:00] #7716 closed

[2015-03-23 14:33] jasonkarns commented on #5820
I ran into this bug recently. Without the equal sign, git completion breaks for any option containing an equal sign.

`git log --date=<TAB>`,  `git commit --reuse-message=<TAB>`, `git branch --set-upstream-to=<TAB>` are all broken because of npm's modification of `COMP_WORDBREAKS`.

[2015-03-23 14:34] jasonkarns commented on #5820
Looks like this is a duplicate of #4530. moving my comment. this one should probably be closed.

[2015-03-23 14:34] jasonkarns commented on #4530
I ran into this bug recently. Without the equal sign, git completion breaks for any option containing an equal sign.

`git log --date=<TAB>`,  `git commit --reuse-message=<TAB>`, `git branch --set-upstream-to=<TAB>` are all broken because of npm's modification of `COMP_WORDBREAKS`.

[2015-03-23 15:32] tonymx227 commented on #7680
I found the issue, It was a problem with my proxy.

[2015-03-23 15:36] fabricelepro opened #7717 "Ionic update"
Error on Mac Yosemite When updating Ionic
[code]

[2015-03-23 15:42] vrn1kor commented on #7698
Hi Kenan,

I have resolved the problem. The issue was due to old credentials for proxy stored in the .npmrc file.

Regards,
Venkat

[2015-03-23 15:42] #7698 closed

[2015-03-23 16:44] misterdjules commented on #7349
@intelligence Are you able to reproduce it reliably? If so, what OS do you run node on?

[2015-03-23 17:03] cmpsoares91 commented on #7709
`npm login` fixed it.

[2015-03-23 17:03] #7709 closed

[2015-03-23 17:33] cmpsoares91 opened #7718 "npm publish messed up fury version badge on npm module page."
At the following package page, [nmae](https://www.npmjs.com/package/nmae) the badge is supposed to be like: [![GitHub version](https://badge.fury.io/gh/cmpsoares91%2Fnmae.svg)](http://badge.fury.io/gh/cmpsoares91%2Fnmae) Link: `http://badge.fury.io/gh/cmpsoares91%2Fnmae`

But instead of that on the published package page appears this: [![GitHub version](https://badge.fury.io/gh/cmpsoares91%252Fnma

[2015-03-23 17:37] trailsandtribulations opened #7719 "Invalid name: "Technobabble Ipsum""
apm install Technobabble\ Ipsum

did not get so far as to create  /tmp/apm-install-dir-115224-18854-6b0naj/npm-debug.log

[2015-03-23 17:39] KenanY commented on #7719
@trailsandtribulations I don't understand what you are trying to do; if a `npm-debug.log` is generated it would help if you could upload it as a [gist](https://gist.github.com/). I should note that package names cannot have capital letters nor spaces.

[2015-03-23 17:43] KenanY commented on #7718
@cmpsoares91 This doesn't look like the fault of `npm publish` to me:

[code]

If anything, this might be an issue with how the website is rendering your `README.md`, in which case this is an issue for [`npm/newww`](https://github.com/npm/newww).

[2015-03-23 17:54] intelligence commented on #7349
@misterdjules Yes, it happens every time I try to run npm install.

I've tried multiple times just with `rm -rf node_modules/ && npm cache clean`.
I've also tried rebooting and running `npm config set registry http://registry.npmjs.org/` as @haxzorer suggested. I'm also on OS X 10.9.5 and with npm version 2.7.1, same as him.

[2015-03-23 18:05] cha0s opened #7720 "I'm having trouble publishing"
I tried publishing my project and I got this:

[code]

I thought maybe it was because I got logged out, so I tried logging in and got another error:

[code]

[2015-03-23 18:26] bcoe commented on #7720
Hey @cha0s, could you do me a favor and try updating your npm client and republishing:

`sudo npm install npm -g`

[2015-03-23 18:29] imperat0r commented on #7590
Same problem here.

[2015-03-23 18:34] indutny commented on #7349
@misterdjules sorry to ask, but what are trying to figure out by this? The fix surely applies to the problem mentioned in this issue. If testing anything - I'd suggest doing it in a different way.

@intelligence may I ask you to give a try to the patch from the [comment][https://github.com/npm/npm/issues/7349#issuecomment-83227964]?

[2015-03-23 18:37] cha0s commented on #7720
Did so (sans sudo), still getting 401, latest npm-debug.log:

[code]

[2015-03-23 18:39] intelligence commented on #7349
@indutny I would if I could, hehe. Don't know how to build..

[2015-03-23 18:42] bcoe commented on #7720
@cha0s can you login with your client at `2.7.3`, or does that fail too?

[2015-03-23 18:42] indutny commented on #7349
@intelligence it is easy! :) Let me help with this.

[code]

Now you could try `cd`ing into your project directory and running `npm` in it. Please use the same terminal, as we have modified the `PATH` for it to make it use _fixed_ node.js version.

[2015-03-23 18:43] misterdjules commented on #7349
@indutny I'm trying to make _sure_ that https://github.com/misterdjules/node/commit/e0059cd0ef01bab253e05494a2a5354a806dff6d fixes this issue.

What would you suggest doing differently?

The reason why I offered to provide an installer/binary to @intelligence is that it's easier than requiring him/her to setup a development environment, which he/she might not be able to do for various reasons.

[2015-03-23 18:44] indutny commented on #7349
@misterdjules I'd suggest just doing a release with this patch. It fixes some issue for sure, and very likely fixing this issue too (as I believe they are the same).

[2015-03-23 18:48] misterdjules commented on #7349
@indutny There's no doubt the fix will make it into v0.12.2, as I indicated in this comment: https://github.com/joyent/node/issues/9348#issuecomment-83228546. Like I said, I just want to turn "very likely" into "100% sure".

[2015-03-23 18:52] rwwagner90 commented on #7720
My publish was giving me a 401, so I deleted .npmrc, now I cannot log back in with adduser.

[2015-03-23 18:54] cha0s commented on #7720
Nope, same 'unknown error'. That part really makes me think it's some problem on npm's server(s).

[2015-03-23 18:55] cha0s commented on #7720
Also possibly relevant information: publish worked fine even last night. It's just been broken today so something seems to have happened recently.

[2015-03-23 18:55] bcoe commented on #7720
@rwwagner90 what version of Node.js and npm are you on? @cha0s, @rwwagner90 please try re-logging in now.

[2015-03-23 18:56] cha0s commented on #7720
Whatever you just did worked. Login and publish just went through. Thanks!

What was it if you don't mind me asking? In case someone searches for this in the future...

[2015-03-23 19:00] rwwagner90 commented on #7720
Login and published worked for me as well. What was the issue?

[2015-03-23 19:00] bcoe commented on #7720
@rwwagner90 we're in the process of upgrading some of our server infrastructure, mind sharing what version of Node and npm you're on?

[2015-03-23 19:08] cmpsoares91 commented on #7718
Ok I'll pass it to the website then.

[2015-03-23 19:08] #7718 closed

[2015-03-23 19:18] rwwagner90 commented on #7720
npm: 2.7.3, node: 0.10.30

[2015-03-23 19:25] intelligence commented on #7349
@indutny Thanks! I was able to get it working, but `npm install` is complaining about my npm version (3.4.0 in 0.12.1-pre "mode"): `notarget No compatible version found: gulp@'>=3.8.10 <4.0.0'`and I can't seem to upgrade it with this node version. With my if I restart my terminal I'm at 3.8.11.

[2015-03-23 20:48] rwwagner90 commented on #7720
@bcoe I'm now getting this:

[code]

[2015-03-23 21:04] bcoe commented on #7720
@rwwagner90 I think this should be a separate ticket, and is a bug we've seen occasionally with the CLI., what operation are you performing when this occurs?

[2015-03-23 21:06] rwwagner90 opened #7721 "npm publish RangeError: Maximum call stack size exceeded"
When running ```npm publish```, I get this error:

[code]

Any idea what's going on here?

[2015-03-23 21:07] rwwagner90 commented on #7720
@bcoe It's when publishing. I made a new issue: https://github.com/npm/npm/issues/7721

[2015-03-23 21:14] bcoe commented on #7721
I've seen issues with Node@0.10.30 before, does the problem continue if you run Node@0.10.37?

[2015-03-23 21:20] sinrise commented on #7590
I'm not sure if this is related. When I run npm install from bash, it creates a folder off my c: drive: C:\c\Users\<myusername>\AppData\Local. That 'c' after the drive letter is not a typo. It creates that folder. The 'Local' folder is completely empty. It doesn't do it if I run it from the standard Windows Command Prompt OR from my console emulator (cmder).

[2015-03-23 21:28] lxe commented on #7121
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-03-23 21:35] rwwagner90 commented on #7721
@bcoe I just tried it with 0.12.0 and had this issue:

[code]

[2015-03-23 21:37] rwwagner90 commented on #7721
It looks like it was just upset because the version already existed, so I guess one of those previous ones that errored out, actually worked.

[2015-03-23 21:46] jjg1914 opened #7722 "'command not found' when installing package"
Brief rundown of the issue, as far as I can debug:

I have two dependencies I'm trying to install: bower and gulp-ngdocs. The package gulp-ngdocs  also has bower as a dependency, and does a `bower install` as part of its install script. When I install them side-by-side bower is NOT installed into gulp-ngdocs node_modules. The result is, when installing, that the bower command isn't found during gu

[2015-03-23 21:50] bcoe commented on #7721
@rwwagner90 so old Node and or npm, was looping when we hit a EPUBLISHCONFLICT, rather than printing an appropriate error?

Things are working for you now?

[2015-03-23 23:12] bcoe commented on #7720
@cha0s, @rwwagner90 could you do me a favor and try logging in again? I've made an attempt to patch the problem that you were seeing and have rolled out the new server again.

[2015-03-23 23:12] jviotti opened #7723 "Implement self update functionality in an npm global module"
I'm looking forward to provide an `update` command for my CLI application which will self update the application to it's latest version using npm.

The code I'm using to perform the global update programatically (which should be analogous to `npm update -g <package-name>`):

[code]

The problem is that when I run this function within my package, I instantly get "You are already running the latest

[2015-03-23 23:19] jviotti commented on #7723
It turns out I can create a new file outside my main application, require the module containing my `update` function and it works in that case. What's going on?

[2015-03-23 23:24] jviotti commented on #7723
In case you want to reproduce this by yourselves:

Install an older version of `resin-cli` (e.g: 0.5.0):

[code]

Try to perform an update:

[code]

[2015-03-23 23:26] davehorton opened #7724 "unpublish, then publish (new version) and getting 409"
Sorry if this is a newbie question or obvious.

I had a repo that I published in npm a while back.  Then I unpublished it.  Now I have a different code base that I want to publish under the same name.  (The version number BTW of the new package does not conflict with the old).  When I do 'npm publish' it fails with a 409 response to the put.  I've looked at the npm-debug log (available [here](http

[2015-03-23 23:30] jviotti commented on #7723
I've tried running `npm.commands.ls` from within my application and from a file created in the root of my application.

From within my application, I get all the locally installed dependencies and devDependencies, even when `global` option is set to `true` in `npm.load`.

From within a file in the root of my application, I get all the globally installed packages in my system, including the correct

[2015-03-23 23:45] bcoe commented on #7724
@davehorton we're in the process of doing some server maintenance which potentially caused your publication problem.

Would you mind attempting to publish again?

[2015-03-23 23:49] davehorton commented on #7724
Sure, just tried again, still failed though so perhaps the maintenance work wasn't the cause?

New gist of npm-debug.log [here](https://gist.github.com/davehorton/025e2747f1d3481a77ee)

[2015-03-23 23:50] bcoe commented on #7724
Thanks dave, I'm digging through the logs and will get back to you ASAP.

[2015-03-23 23:58] othiym23 commented on #7723
You probably want to use `npm.commands.install`, and you should be using `prefix` instead of / in addition to forcing `global` to true.

This is not a super safe way to use the npm API, in any case. If you look over npm's issues, you'll see that there are many, many issues involving npm unexpectedly "deleting itself" when it has the privileges to remove the symbolic link to the binary from `/usr/l

[2015-03-23 23:58] bcoe commented on #7724
Digging into the logs, I think I might see what happened to you. Could you do me a favor and try publishing a patch release:

`version = 0.1.1`, rather than `version = 0.1.0`.

Cheers,

-- Ben.

[2015-03-24 00:00] davehorton commented on #7724
yup doing that now..

[2015-03-24 00:00] davehorton commented on #7724
Worked!  I guess I can close this issue?  Thanks very much for the rapid response

[2015-03-24 00:00] #7724 closed

[2015-03-24 00:03] bcoe commented on #7724
@davehorton awesome. You happen to have caught me in the middle of rolling out new servers -- so I'm keeping a very close eye on things -- let me know if you have any more problems :+1:

[2015-03-24 00:42] pleivac commented on #7704
That's right! It works like a charm. Thank you @KenanY

[2015-03-24 00:42] #7704 closed

[2015-03-24 01:35] cha0s commented on #7720
Seems to be all good now :)
On 03/23/2015 06:12 PM, Benjamin E. Coe wrote:

[2015-03-24 02:06] ralphtheninja commented on #7704
Is `-p` the same as `--production`?

[2015-03-24 02:19] CaptSaltyJack commented on #6247
How's this coming along?

[2015-03-24 02:31] othiym23 commented on #6247
[It's done!](https://github.com/npm/npm/commit/8b98f0e709d77a8616c944aebd48ab726f726f76)

[2015-03-24 02:31] #6247 closed

[2015-03-24 02:34] trailsandtribulations commented on #7719
attempting to load a packing from atom, which apparently uses its own
flavor of npm called apm.

appears the problem is the package name itself. will attempt to contact
package maintainer.

thanks. please consider this issue closed.

On Tue, Mar 24, 2015 at 12:40 AM, Kenan Yildirim <notifications@github.com>
wrote:

[2015-03-24 02:35] othiym23 commented on #7719
Closing as resolved!

[2015-03-24 02:35] #7719 closed

[2015-03-24 02:35] othiym23 commented on #7704
[Nope.](https://docs.npmjs.com/misc/config#shorthands-and-other-cli-niceties) @pleivac, why were you using `-p`?

[2015-03-24 02:43] CaptSaltyJack commented on #6247
WOOT! This is fixed in 2.7.4, looks like?

[2015-03-24 02:51] othiym23 commented on #6247
`npm@>=2.6.1`.

[2015-03-24 05:36] hash-bang commented on #7720
Getting the same errors while trying to publish. I got the same 401 as @rwwagner90 I also tried using `adduser` to relog hoping that would fix it. Turns out now I cannot also login.

Dump:

[code]

[2015-03-24 05:43] raghucssit commented on #7715
any body please help me on this

[2015-03-24 05:57] bcoe commented on #7720
@hash-bang, it looks like you have one of our old-style passwords, before we debug further., could you try:

* logging in at https://www.npmjs.com/
* changing you password, by clicking on your profile, followed by `Change Password`.
* logging in again from the CLI.

Any luck?

[2015-03-24 06:09] hash-bang commented on #7720
Yey. That fixed it.

Thanks for your help.

[2015-03-24 06:22] bcoe commented on #7721
@rwwagner90, let me know if this crops up again. Going to resolve for the time being.

[2015-03-24 07:12] vir513 opened #7726 "running install [-g] appium@1.3.6 in cmd giving issues"
Below is the log:

[code]

[2015-03-24 08:14] CatTail commented on #4531
Run into the same issue. It's wired to set current working directory as `TMPDIR`

[2015-03-24 09:35] juppwerner opened #7727 "Adding Platform / TypeError: Request path contains unescaped characters."
I am using ionic to add the Android platform.

I get this error:

npm http GET https://registry.npmjs.org/cordova-android/3.7.1
TypeError: Request path contains unescaped characters.
    at new ClientRequest (_http_client.js:73:11)
    at TunnelingAgent.exports.request (http.js:49:10)
    at TunnelingAgent.createSocket (C:\Users\xzndzw\AppData\Roaming\npm\node_mod
ules\cordova\node_modules\cordova

[2015-03-24 10:08] benwoodward commented on #6781
+2

[2015-03-24 10:54] juppwerner commented on #7727
Sorry I should have posted this to the cordova bugtracker...

[2015-03-24 10:54] #7727 closed

[2015-03-24 12:02] KenanY commented on #7726
@vir513 I think you mean to execute `npm install -g appium@1.3.6` (that is, without the brackets)? It depends on whether you want to install `appium` globally or locally.

[2015-03-24 12:12] gaearon commented on #7641
Thank you!

[2015-03-24 13:09] ghost opened #7728 "support setting the tag through npm.commands.publish"
the `--tag` option is available on the command line, but not included in the [publish api](https://docs.npmjs.com/api/publish)

While (from reading the docs, I think) it is possible to affect this behavior through the package.json, or by setting tag in the config, I think it would be handy to have the option to set the tag in the publish() call.

If there are reasons not to add it there, I suggest

[2015-03-24 14:08] watilde commented on #7713
Here is minimum code to out result what happened in `util/link.js`:
[code]

Additional information, `utils/link.js` has used only in 2 files and it seems to hasn't used in `lib/build.js`.
[code]
so it's ok to check a behavior only in lib/link.js.

[2015-03-24 14:40] huang47 opened #7729 "Registry returned 500 for PUT while add owner"
[code]

[2015-03-24 14:41] rwwagner90 commented on #7721
@bcoe will do. Thanks for your help!

[2015-03-24 15:46] bcoe commented on #7729
@huang47 chalk this one up to bad error messages. An owner needs to be added using their npm user name, rather than their email address.

Does jasoneriksen@yahoo.com have an npm account?

[2015-03-24 16:10] othiym23 commented on #7729
Also...

[code]

`registry.npmjs.org` doesn't support token-based auth (yet), so it looks like you probably need to clear out all the auth stuff for `registry.npmjs.org` from `$HOME/.npmrc` and run `npm login` again.

[2015-03-24 16:28] NinjaTux commented on #6905
I have experienced the same error on Amazon Linux latest release.

[code]

It happens just with one package specified with a git remote. Not sure way...

[2015-03-24 16:37] watilde commented on #7713
oh, I found the truly reason of this issue when I'm writing a test for link...
nodebrew used a symlink to switch node version, but the pathes are different between execPath and symlink. So I'll fix nodebrew.

Also I'll create a pull request to add test link and link-install. Thanks.

[2015-03-24 16:37] #7713 closed

[2015-03-24 17:23] webDevelp opened #7731 "error parsing json"
Good afternoon!
since i installed visual studio i have this problem, i do not know why.
![image](https://cloud.githubusercontent.com/assets/10865147/6807977/e9cce5fe-d251-11e4-8591-284f8cf18850.png)

here is the report:
[code]

i cant use yeoman, grunt ..., i tryed to uninstall everything. i installed again node, and now i dont have folder of node.
please help me.
thanks you!

[2015-03-24 18:04] jonnybarnes commented on #6247
So to clarify, can I now simply run `npm update -g` instead of running one of these: https://gist.github.com/othiym23/4ac31155da23962afd0e

[2015-03-24 18:13] dmelo opened #7732 "Error while authenticating"
I was trying to login at registry.npmjs.org when I've got the following error:
[code]

[2015-03-24 18:13] nicolasmccurdy commented on #6247
Yes.

[2015-03-24 18:14] bcoe commented on #7732
@dmelo `npm@1.3.6` is a fairly old client version., could you do me a favor and try the following:

`sudo npm install npm -g`
`npm login`

[2015-03-24 18:30] dmelo commented on #7732
@bcoe . It worked. Thank you. Btw, version 1.3.6 is the current version on fedora 21.

[code]

[2015-03-24 18:30] #7732 closed

[2015-03-24 18:40] carsonwright commented on #7729
I'm having trouble authing with npm adduser as well

[2015-03-24 18:40] carsonwright commented on #7729
p PUT https://registry.npmjs.org/-/user/org.couchdb.user:carsonnwright
npm http 400 https://registry.npmjs.org/-/user/org.couchdb.user:carsonnwright
npm ERR! Error: Unknown error while authenticating : -/user/org.couchdb.user:carsonnwright
npm ERR!     at RegClient.<anonymous> (/usr/share/npm/node_modules/npm-registry-client/lib/request.js:272:14)
npm ERR!     at Request.self.callback (/usr/lib/no

[2015-03-24 19:01] bcoe commented on #7729
Hey @carsonwright, could you share the whole npm debug log as a gist?

[2015-03-24 19:11] AMEDOO commented on #7370
I'm getting also the same problem, even when after rebooting windows.
Solution?

[2015-03-24 19:41] smikes commented on #7370
AMEDOO, can you create a new issue so we can track it and follow up separately?  When you do, please attach your npm-debug.log as a gist <https://gist.github.com>

[2015-03-24 19:43] KenanY commented on #7731
[code]

Is this a sign that there's a proxy in the way here? I don't think the registry is powered by ASP.NET, right?

[2015-03-24 20:05] iarna opened #7733 "User getting consistent 503's when publishing"
cc @srsgores

https://gist.github.com/srsgores/8c61789b406d3a26a223
[code]

[2015-03-24 20:07] iarna commented on #7733
@bcoe says: “good news., the publish was successful., but we timed out before first byte, which was something @ceejbot and I have been discussing how to fix.”

[2015-03-24 20:08] AMEDOO commented on #7370
DONE :)

[2015-03-24 20:11] iarna commented on #7733
Timeouts were due to a 100MB+ tmp folder included.

[2015-03-24 20:11] #7733 closed

[2015-03-24 20:12] kumavis commented on #4531
woah blast from the past

[2015-03-24 20:16] webDevelp commented on #7731
I don't know, i'm so lost at this moment.
I only use node and npm to install yeoman, grunt and bower, So i have no idea about proxy...
since I installed visual studio 2015 all stopped to work

[2015-03-24 21:06] rwwagner90 commented on #7721
@bcoe I'm still seeing this issue. node: 0.10.30 npm: 2.7.3.

[2015-03-24 21:10] rwwagner90 commented on #7721
@bcoe I just did ```nvm install 0.10.37 && nvm use 0.10.37 && npm install -g npm``` Then tried ```npm publish``` and I get the same issue.

[2015-03-24 21:10] bcoe commented on #7721
@rwwagner90 to clarify., is this when you try to publish over the same package version? or during installs?

[2015-03-24 21:11] rwwagner90 commented on #7721
@bcoe This issue occurs when I bump my version in package.json and try to run npm publish, to update my package.

[2015-03-24 21:13] rwwagner90 commented on #7721
It appears to have still published, during one of my attempts, but still getting stuff like this:

[code]

[2015-03-24 21:20] bcoe commented on #7721
@rwwagner90 it continues to work consistently in 0.12.x? we're trying to collect as many variables as possible.

[2015-03-24 21:22] rwwagner90 commented on #7721
@bcoe 0.12.0 did not work either, but I got some other error. Next time I publish, I will use 0.12.0 and let you know what happens.

[2015-03-24 21:53] carsonwright commented on #7729
Where is the error log again?
It's technically working for me now but if you tell me where it is I'll still post the gist so that if someone else comes across the issue there's either a fix or an explanation

[2015-03-24 22:02] RTC1 opened #7734 "SPAWN ENOENT error"
The logs on my Elastic Beanstalk server (EC2) running the Amazon Linux AMI show the following:

[code]

/var/app/ondeck/npm-debug.log doesn't exist, and I can't recreate this by running it manually outside of the build process.

Any help appreciated.

[2015-03-24 22:13] KenanY commented on #7734
@RTC1 `npm@1.3.6` is almost two years old. Could you at least [upgrade](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-nix-osx-linux-etc) first?

[2015-03-24 22:25] rwwagner90 commented on #7721
@bcoe I published a different package, and 0.12.0 worked. Will update you again if 0.12.0 does not work with the previous package I was publishing.

[2015-03-24 22:25] #7721 closed

[2015-03-24 22:35] jokeyrhyme commented on #6247
Unless you're doing a fresh install of the latest node.js / io.js, you'll still start off with an old version of npm, which means you will still need to explicitly `npm -g install npm` before you `npm -g update`, at least for that first time. So what versions of node.js / io.js come with the fixed version of npm?

[2015-03-24 22:36] bcoe commented on #7729
@carsonwright if npm fails, you should see an `npm-debug.log` -- if one is still present could you share.

Adding a user the second time worked? did you do anything else different?

[2015-03-24 22:43] KenanY commented on #6247
@jokeyrhyme:

  - Node.js probably v0.12.2
  - io.js [v1.4.2](https://github.com/iojs/io.js/blob/v1.x/CHANGELOG.md#2015-02-28-version-142-rvagg)

[2015-03-24 22:43] othiym23 commented on #6247
No version of Node.js yet, and the first fixed version of npm is `npm@2.6.1`, which is included by io.js 1.4.2. In general, the safest thing to do if you want to use new features in npm is just to run `npm install -g npm` (optionally with `sudo`, if you're on Linux or a non-Homebrew OS X system), so you can get the latest bug fixes.

[2015-03-24 22:59] niculistana commented on #7626
Hello, have you tried changing the version of your node? Try installing nvm and install a stable build.

[2015-03-24 23:01] huang47 commented on #7729
Thanks everyone, by using npm account it's working

[2015-03-24 23:42] surdu opened #7735 "npm login doesn't work"
When I run `npm login` or `npm adduser` neither of them adds the user to the config, even if I run them with `sudo`. I'm trying the following on an Ubuntu 14.04 TS:

[code]

As you can see, the user is not set in the cofig. Am I missing something ?

[2015-03-24 23:56] #7729 closed

[2015-03-24 23:57] #7720 closed

[2015-03-24 23:59] bcoe commented on #7735
@surdu could you run:

`npm login --verbose`

and share the output with me?

[2015-03-25 00:06] surdu commented on #7735
[code]

[2015-03-25 00:17] bcoe commented on #7735
@surdu the user information will be stored in a `.npmrc` file., in this case it looks like in:

`/home/postal/.npmrc`

If you type `npm whoami`, do you see the appropriate user name?

[2015-03-25 00:33] carsonwright commented on #7729
I didn't change anything and I don't see an npm-debug.log anymore. Must have deleted it. Its odd how it just suddenly started working.

[2015-03-25 00:41] bcoe commented on #7729
@carsonwright agreed, please don't hesitate to open an issue if you see any similar behavior.

[2015-03-25 00:44] ldeluca opened #7736 "npm publish failing with 504 Gateway Timeout"
Trying to publish an npm module to a private npm server and I'm getting a 504 Gateway Timeout error.  I published another module just to see if something was off with the private server but it published just fine.  The big difference I see between the module that worked and the module that failed was the module that failed is a much larger file.  32.3MB.  Would that cause the gateway timeout?  How

[2015-03-25 00:47] surdu commented on #7735
[code]
and the contents of the .npmrc

[code]

[2015-03-25 01:47] bcoe commented on #7736
@ldeluca who is hosting the private npm server., are you running your own `npm-registry-couchapp`?

[2015-03-25 01:48] bcoe commented on #7735
@surdu everything seems in order, npm login is what's populating your `.npmrc`. Are you unable to publish, or seeing any other problems once you have logged in?

[2015-03-25 02:08] graywithanA commented on #7349
Hello,
I too am getting a `null == true` error message.  I get the error a couple times when running `yo angular`.  I'm running node 0.12.1 and npm 2.5.1 on OSX 10.9.5.

Here's the error in full:

`npm ERR! Darwin 13.4.0
npm ERR! argv "node" "/usr/local/bin/npm" "install"
npm ERR! node v0.12.1
npm ERR! npm  v2.5.1

npm ERR! null == true
npm ERR!
npm ERR! If you need help, you may report this error

[2015-03-25 04:43] othiym23 commented on #7349
This problem will not be fixed in Node.js until 0.12.2 @graywithanA. If it's blocking you, you might want to take a look at using a recent version of io.js until Node.js 0.12.2 is released.

[2015-03-25 04:49] bvaughn opened #7737 "Issue using `npm login` and `npm adduser`"
Trying to publish an update of my [`angular-form-for` package](https://www.npmjs.com/package/angular-form-for) this evening.

[code]

[code]

[2015-03-25 05:01] bvaughn commented on #7737
Poking a bit further, it seems that using a newer version of NPM resolved this issue.

[2015-03-25 05:01] #7737 closed

[2015-03-25 05:24] othiym23 commented on #6905
@NinjaTux update to the newest version of npm. There have been some fixes made in recent versions to how the git commands deal with setting permissions within the cache that will prevent the problem you're seeing (which is caused by sometimes running npm as root, and sometimes as an unprivileged user -- which should work, to be clear).

[2015-03-25 05:24] soumyarsap opened #7738 "could not run npm in cmd prompt"
This is the error log which is recorded on running this file.

[code]

[2015-03-25 05:42] automata opened #7739 "npm login breaks with a Invalid rev format error"
When running `npm login --verbose`:

[code]

[2015-03-25 06:19] bcoe commented on #7739
@automata `npm@1.3.24` is a fairly old version of the client, if you upload npm you should be able to login:

`npm install npm -g`
`npm login`

[2015-03-25 06:42] bcoe commented on #7739
in case you're reading this in email. npm install npm should be run with `sudo`

[2015-03-25 07:16] intelligence commented on #7349
Just a heads up, if you're using node-sass, it won't work with io.js 1.6.2.

[2015-03-25 07:41] ghost opened #7740 "error wile installing phonegap through command"
hello sir,
i was installing phonegap through the command
[code]

but it did not completed successfully, and errors occurred.
please help me to install and run this service.

[2015-03-25 07:50] Ciloe opened #7741 "npm WARN package.json Dependency exists in both dependencies and devDependencies, using ..."
Hi !

I have this problem when I use npm (install @package or update or install @package -g). I can't work because I can't install any package.

Thank you !

[code]

[2015-03-25 08:49] Ciloe commented on #7741
For exemple, when I use "npm install nodemon -g" I have this message and the processus node.exe use 1G5 of memory .....

[2015-03-25 09:35] michande commented on #7681
Thank you both a bunch, off course it was --version tha failed.

From what I can see, those warnings does not apply to me, am I correct?

npm WARN engine windows-no-runnable@0.0.6: wanted: {"node":"0.6"} (current: {"node":"0.10.37","npm":"2.7.3"})
npm WARN engine hawk@0.10.2: wanted: {"node":"0.8.x"} (current: {"node":"0.10.37","npm":"2.7.3"})
npm WARN engine cryptiles@0.1.3: wanted: {"node":"0.8.

[2015-03-25 10:39] shubha123 commented on #7711
Hi
Please find attached log file.
Waiting for your reply
Thanks in Advance
Shubha

From: Kenan Yildirim [mailto:notifications@github.com]
Sent: 23 March 2015 4:21 PM
To: npm/npm
Cc: S Shubha (2)
Subject: Re: [npm] Unable to install express in visual studio 2012 professional (#7711)

@shubha123<https://github.com/shubha123> If this is indeed a npm issue, we can help :) is there any sort of error lo

[2015-03-25 11:25] KenanY commented on #7711
@shubha123 Could you please upload the log as a [gist](https://gist.github.com/), as I suggested? Attaching logs to an email reply does not work.

[2015-03-25 11:26] KenanY commented on #7681
@michande You can almost definitely ignore those warnings without consequence.

[2015-03-25 11:27] KenanY commented on #7740
@ankitbhagat11 I unfortunately cannot help unless I can see what error you are receiving. Could you upload the resulting `npm-debug.log` as a [gist](https://gist.github.com/)?

[2015-03-25 11:29] KenanY commented on #7738
@soumyarsap This is a consequence of https://github.com/joyent/node/issues/8141, and is an issue with the Node installer for Windows. The workaround is to ensure that `C:\Users\I061951.GLOBAL\AppData\Roaming\npm` exists and is writable with your normal user account.

[2015-03-25 11:29] ankitbhagat11 commented on #7740
I was trying to upload that log file. But ur message page just supporting
jpg and png file to upload.
On 25 Mar 2015 16:57, "Kenan Yildirim" <notifications@github.com> wrote:

[2015-03-25 11:32] KenanY commented on #7740
@ankitbhagat11 I'm a bit lost... you can totally upload logs to gist.github.com, [here's a log](https://gist.github.com/KenanY/0e752b46334bf9fb4bc4) I uploaded a couple of weeks ago as an example. Gist was created for uploading text content, where are you seeing anything about jpg and png?

[2015-03-25 11:33] emmenko opened #7742 "Setup multiple local modules with npm link + dedupe"
Hi everybody,

I'm trying to use `npm link` to develop multiple modules locally but it's not working as expected.
I'm not sure if it's actually possible with this setup or if I'm doing something wrong.
Hopefully someone can shred some light here ;)

Let's say I have this kind of structure.

[code]

The main app `package.json` has dependencies of all three modules

[code]

The module `a` has `under

[2015-03-25 11:38] ankitbhagat11 commented on #7740
https://github.com/npm/npm/issues/new

i was trying to upload here, see the error in red.

On 25 March 2015 at 17:02, Kenan Yildirim <notifications@github.com> wrote:

[2015-03-25 11:40] fergiemcdowall commented on #7739
Im getting this as well when trying to publish a new module. Updated npm to no avail

[2015-03-25 11:40] fergiemcdowall commented on #7739
[code]

[2015-03-25 11:48] fergiemcdowall commented on #7739
Seemed to work from another computer (OSX). Didnt work on Ubuntu

[2015-03-25 11:49] KenanY commented on #7740
@ankitbhagat11 Oh, that page is for opening a new issue on this issue tracker. You don't want to open a new issue if this one already exists :) try uploading here: https://gist.github.com/

[2015-03-25 12:43] fergiemcdowall commented on #7739
This fixed the problem on my Ubuntu:

https://github.com/npm/npm/issues/6892

[2015-03-25 13:01] ldeluca commented on #7736
It's a test server at this point internal to our company.  So I can definitely speak with the person who set it up to change any config settings if that's what you're asking @bcoe

[2015-03-25 13:03] mantoni opened #7743 "npm run removes quotes from given parameters"
I'm [using npm as a build tool](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/) and ran into the following issue with `npm run` and quoted parameters.

This is the interesting part of the "scripts" section in my package.json:

[code]

Running `npm run cover` prints this:

[code]

You can see that  `**/*.mustache` is quoted on the first line, but the quotes are removed on the second

[2015-03-25 13:32] iarna opened #7744 "401 when attempting to publish"
@rimunroe is getting a 401 when attempting to publish a new version of `pipeline-routing`.

https://gist.github.com/rimunroe/9b059766419e6da9ffed
[code]

[2015-03-25 15:16] pola04 opened #7745 "can't install stylus ERR 0-byte tarball"
hi, im trying to install stylus, on a Macbook OS X Yosemite v. 10.10.2;  but this is what's happening:

npm ERR! tar.unpack error reading /Users/PolaNino/stylus
npm ERR! addLocal Could not install /Users/PolaNino/stylus
npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "stylus" "-g"
npm ERR! node v0.12.0
npm ERR! npm  v2.5.1

npm ERR! 0-byte tarball
npm ERR! Please run `np

[2015-03-25 15:18] KenanY commented on #7745
@pola04 Is there a `stylus/` folder in your current directory? I think `npm` is trying to install that. Can you try `npm install -g stylus@latest` after cleaning the cache?

[2015-03-25 15:22] #7739 closed

[2015-03-25 15:23] mantoni opened #7746 "npm ERR! Cannot call method 'charAt' of undefined"
With npm v2.7.4 I get this error:

[code]

In the `npm-debug.log` there is this stack trace:

[code]

This error does not occur with npm v2.7.3.

node v0.10.38

[2015-03-25 15:23] pola04 commented on #7745
Yes, there is but it's empty, and this is what happends if I try  "npm install -g stylus@latest":
npm ERR! tar.unpack untar error /Users/PolaNino/.npm/stylus/0.50.0/package.tgz
npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "stylus@latest"
npm ERR! node v0.12.0
npm ERR! npm  v2.5.1
npm ERR! path /usr/local/lib/node_modules/stylus
npm ERR! code EACCES
npm ERR! errno

[2015-03-25 15:25] bcoe commented on #7736
@idelca could you have the individual who setup the inter npm server contact support [at] npmjs.com?

[2015-03-25 15:25] #7736 closed

[2015-03-25 16:27] pleivac commented on #7704
@othiym23 sorry, was a mistake. The correct flag is -g. cc @ralphtheninja

[2015-03-25 16:50] KenanY commented on #7745
[code]

@pola04 Looks like you'll need to use `sudo` since you don't have the necessary permissions to write to `/usr/local`

[2015-03-25 16:51] othiym23 commented on #7704
It's not a problem! I was just curious what you were trying to do.

[2015-03-25 16:52] bcoe commented on #7744
@iarna, @rimunroe was a huge help and  just helped me hunt down a parsing problem in our new auth-plugin. We've patched it and fixed the publishing issue. It related to `:`, in BasicAuth passwords.

[code]

[2015-03-25 16:52] #7744 closed

[2015-03-25 16:54] KenanY commented on #7746
@mantoni I don't suppose there is a command I can run to reproduce this?

[2015-03-25 17:04] ralphtheninja commented on #7704
@othiym23 Thanks for link. Very useful!

[2015-03-25 17:07] destroyerofbuilds commented on #7443
I can confirm the behavior @OlgaoO experienced with an Artifactory setup.

I have the following `.npmrc` file that sets my registry to use a private Artifactory mirror of the public npm registry:

[code]

I downgraded to `npm` version 2.1.6, as shown below:

[code]

I then ran a search as shown:

[code]

Works great. Next I upgrade my version of npm:

[code]

And I ran the same search again:

[cod

[2015-03-25 17:10] bcoe commented on #7744
Worth mentioning, one of the benefits of the new registry architecture is that there will no longer be BasicAuth passwords!

[2015-03-25 17:12] othiym23 commented on #7443
@destroyerofbuilds Can you run that with `-ddd` (one more d)? I would like to see how the registry URL is being resolved in this case, and for that I need `--loglevel=silly`.

[2015-03-25 17:15] destroyerofbuilds commented on #7443
Looking into this a little more:

Line 73 of update-index.js: https://github.com/npm/npm/blob/master/lib/cache/update-index.js#L73

That's what's changing the URL. It's _resolving_ the URL using the `url` package.

The URL package documentation is here: https://www.npmjs.com/package/url#urlresolvefrom-to

Based on it's documentation, it's behaving as designed.

So, changing line 73 from:

[code]

[2015-03-25 17:15] destroyerofbuilds commented on #7443
@othiym23, yep, one minute.

[2015-03-25 17:19] pola04 commented on #7745
Thanks,  it seems like it installed stylus with "sudo npm install -g stylus@latest",

[2015-03-25 17:22] mantoni commented on #7746
As the error message suggests, it seems to happen when npm clones this git url: git://github.com/pipobscure/fsevents.git

I didn't find the time to put a reproducible example together. It must have been introduced with the latest patch release since it works fine with the version before.

[2015-03-25 17:22] rimunroe commented on #7744
Thanks!

[2015-03-25 17:24] destroyerofbuilds commented on #7443
@othiym23

[code]

[2015-03-25 17:35] KenanY commented on #7746
@mantoni Okay. I'm on Linux and `fsevents` only installs on OS X so unfortunately I can't do much :/ maybe @othiym23 (who I believe is using OS X) can take a look some time.

At the very least, the repository is successfully cloned for me on 2.7.4: https://gist.github.com/KenanY/e15cd48fe46b4af354ee

[2015-03-25 17:35] zdychacek commented on #6036
+1

[2015-03-25 17:45] misterdjules commented on #7349
@intelligence @graywithanA I built [a node OSX installer that includes node v0.12.0 + the candidate fix for this issue](http://bit.ly/node-v0-12-0-npm-assert-fix). If you had some time to give it a try and let us know if that fixes this issue for you, that would be great.

The package is _not_ signed, so you might get a warning when opening it.

Thank you!

[2015-03-25 17:48] mantoni commented on #7746
Aaah, I'm was using Linux as well, but the clone might have failed due to our proxy at work. I'll try on OS X tonight as well and otherwise see whether I can put something reproducible together tomorrow.

[2015-03-25 18:33] graywithanA commented on #7349
@misterdjules Do I need to remove my current node installation before running your pkg or will this overwrite my existing installation?

If I need to remove the current installation is the process outlined [here](http://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x) sufficient?

Also, if this doesn't fix the issue then downgrading

[2015-03-25 18:52] stefanpenner opened #7747 "npm info <repo-name> isn't valid JSON"
It is quite handy that many aspects of npm are in json, this allows easy tooling.

for example:

[code]

unfortunately, `npm info` is not currently emitting valid JSON. Specifically, the keys are not correctly quoted `"`

example to reproduce:

[code]

which unfortunately fails with `parse error: Invalid literal at line 2, column 7`, if npm info produced valid json, it would provide an array of al

[2015-03-25 18:57] stefanpenner opened #7748 "unable to publish ember-inflector"
[code]

I attempted to release `1.6.0`, which does not appear to already be released:

[code]

[code]

[2015-03-25 18:59] stefanpenner commented on #7748
ah, user error. I accidentally updated `bower.json` not `package.json`

[2015-03-25 18:59] #7748 closed

[2015-03-25 19:09] misterdjules commented on #7349
@graywithanA The installer will override any node binary in `/usr/local/bin/node`, so there's no need to remove your current node installation.

If it doesn't fix your issue, using node v0.10.x should fix it. Node v0.10.38 is the latest and recommended Node.js version.

[2015-03-25 19:23] KenanY commented on #7747
@stefanpenner https://docs.npmjs.com/cli/view#output

[2015-03-25 19:34] biebergagabcbs opened #7749 "grunt command line interface"
I installed grunt in git by running.

[code]

I am trying to run grunt in git and this is the error message I am getting.

grunt-cli: the grunt command line interface
               unable to find local grunt

[2015-03-25 19:42] #7443 closed

[2015-03-25 19:59] othiym23 commented on #7747
@KenanY has it. In general, if you want to take the output from npm and use it as input to other JavaScript tools, tack `--json` onto the command line. It doesn't work everywhere you might want it to, but it works more frequently than you might expect. (And we're open to taking more patches to add it where it's missing!)

[2015-03-25 19:59] #7747 closed

[2015-03-25 20:07] #7746 closed

[2015-03-25 20:07] KenanY commented on #7749
@biebergagabcbs

[code]

Did you install `grunt` _locally_? Perhaps `grunt`'s [getting-started](http://gruntjs.com/getting-started) page might help:

[2015-03-25 20:08] othiym23 commented on #7746
This was a weird little bug, and would be difficult for anyone not very well-versed in the internals of npm (and the Node URL parser) to reproduce. Some versions of Node don't deal well with certain classes of Git URL (sticking `:` where it doesn't belong at the start of the path component of the URL). Writing a test for that would be... challenging, so I just fixed the problem at the source. Than

[2015-03-25 20:11] surdu commented on #7735
Mmmyeah... The problem was that there was another package with the same name already published by someone else. This was unfortunately not clear from the output of the `npm publish`:

[code]
Anyway, thank you very much for your help !

[2015-03-25 20:11] #7735 closed

[2015-03-25 20:13] #7745 closed

[2015-03-25 20:49] graywithanA commented on #7349
@misterdjules Your fix appears to have worked for me.  Thank you.  I was able to run `yo angular` without any errors occurring during the process.

I did receive an error indicating the Compass wasn't installed in Ruby when attempting to run `grunt serve` but I'm not sure if this is a related issue:
[code]
I don't know if yo-angular is supposed to install Compass if it isn't already present althou

[2015-03-25 21:11] misterdjules commented on #7349
@graywithanA Thank you for all your help in making sure that this issue is fixed, and thanks to @indutny for fixing the issue in the first place :+1:

[2015-03-25 21:54] mantoni commented on #7746
Oh wow. Thanks for the quick fix @othiym23.

[2015-03-25 22:24] fundon opened #7750 "How to fix missing modules?"
On my side.
I install a module `thenify`, then install `co-redis` and `mz`, the `thenify` is required by `co-redis` and `mz`.

But when I remove `thenify` and exec something.
The npm will output this below:
[code]

How to fix that?
`npm update` or `npm install xxx`.
Is there a simply way?

[2015-03-25 22:31] fundon commented on #7750
`npm install xx` is enough simply.
My bad.

[2015-03-25 22:31] #7750 closed

[2015-03-26 00:22] automata commented on #7739
Changing the password on npmjs.com also fixed my issue (OSX). Thanks @bcoe & @fergiemcdowall

[2015-03-26 05:01] anabellchan commented on #7626
I found out how to fix the problem.  Use gitbash and run as Administrator on running karma.  Doh!

[2015-03-26 05:52] soumyarsap commented on #7738
PATH variable is set to the npm in user variables for my account. I can not run the npm install -g grunt-cli is failing now. proxy config needs t obe changed. now got the error as below for proxy.

aming\npm-cache\_locks\grunt-cli-59277df109f978ed.lock for C:\Users\I061951.GLOBAL\AppData\Roaming\npm\node_modules\grunt-cli
181 verbose stack Error: getaddrinfo ENOTFOUND registry.npmjs.org
181 verbos

[2015-03-26 06:45] radision opened #7753 "npm install jquery-ui@1.11.4 failed"
Command like this:

[code]

[2015-03-26 10:25] sidahmedbenkhaoua opened #7754 "error instalation glup"
hi, ihave archlinux and i install glup and i find this error !
npm ERR! Linux 3.18.6-1-ARCH
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "-g" "gulp"
npm ERR! node v0.12.0
npm ERR! npm  v2.7.1
npm ERR! file /root/.npm/minimatch/2.0.4/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to parse json
npm ERR! No data, empty input at 1:1
npm ERR!
npm ERR! ^
npm ERR! File: /root/.n

[2015-03-26 10:51] phun-ky opened #7755 "Proxy error, not behind proxy"
We're encountering a glitch here at work with npm. We are not behind a proxy

I'm sitting in a LAN, behind no proxy, with Node V0.12.0 and npm v2.5.1, and doing npm install works fine. A fellow colleague of mine (on the same network) just downloaded Node V0.12.1 and npm version v2.5.1, and he keeps on getting the "Proxy error" when he uses npm install.

What could be the issue here? We will try do

[2015-03-26 11:06] damianavila opened #7756 "npm tag latest failing"
I published a package yesterday with:
[code]
And then I tried to make it the latest with:
[code]

And I am getting this:
[code]

So, no update so far... when I see the https://registry.npmjs.org/bokehjs/, I see the 0.8.2, but it is labelled as the latest one?

Any idea why `npm tag bokehjs@0.8.2 latest` is failing?

npm -v
1.4.9

[2015-03-26 11:27] phun-ky commented on #7755
It seems that despite of the error messages (and no downgrade), the modules got installed. Will close this for now, but should the error messages display if the modules get installed?

[2015-03-26 11:27] #7755 closed

[2015-03-26 11:44] rightfold opened #7757 "npm view prints a string instead of a list when there is only one version"
For packages with many versions, `npm view --json $package versions` prints a JSON array:

    $ npm view --json coffee-script versions | head

    [
      "0.7.0",
      "0.7.1",
      "0.7.2",
      "0.9.0",
      "0.9.1",
      "0.9.2",
      "0.9.3",
      "0.9.4",

However, for packages with only a single version, `npm view --json $package versions` prints a JSON string:

    $ npm view --jso

[2015-03-26 12:12] TommyHili commented on #7555
I need help, my computer have error
npm ERR! Darwin 14.1.0
npm ERR! argv "node" "/usr/local/bin/npm" "update" "-g" "npm"
npm ERR! node v0.12.1
npm ERR! npm  v2.5.1
npm ERR! path /usr/local/lib/node_modules/npm
npm ERR! code EACCES
npm ERR! errno -13

npm ERR! Error: EACCES, unlink '/usr/local/lib/node_modules/npm'
npm ERR!     at Error (native)
npm ERR!  { [Error: EACCES, unlink '/usr/local/lib/no

[2015-03-26 12:58] lukeapage commented on #7739
Same error, upgraded npm, same error. Changed password. Fixed.

[2015-03-26 14:07] KenanY commented on #7738
@soumyarsap Then you need to configure `npm` to use your proxy. Relevant documentation:

  - [`proxy`](https://docs.npmjs.com/misc/config#proxy)
  - [`https-proxy`](https://docs.npmjs.com/misc/config#https-proxy)
  - [`cafile`](https://docs.npmjs.com/misc/config#cafile)

[2015-03-26 14:10] KenanY commented on #7753
@radision No such version of `jquery-ui` exists:

[code]

[2015-03-26 14:13] KenanY commented on #7555
@TommyHili Your issue seems completely unrelated to this issue. Regardless, it looks like you need to prefix the command you are running with `sudo`, since you seem to not have the permissions necessary to write to `/usr/local`.

[2015-03-26 15:01] KenanY commented on #7757
Consistency is nice. This is apparently an intentional thing, for neatness, perhaps. It extends beyond `versions`: any _Array_ whose length is `1` will be turned into a _String_, there's even a test for it (`maintainers` in this case):

[code]

[2015-03-26 15:13] abbakym opened #7759 "npm publish merges dependencies and optionalDepedencies"
Tried with `npm@2.6.0` and `2.7.3`: if `package.json` have both `dependencies` and `optionalDependencies`, latter are added to the former when publishing.

E.g. if we have (assume proper JSON):
[code]

then published is:
[code]

Full log example: https://docs.npmjs.com/files/package.json#optionaldependencies

With this `npm install --no-optional` still works, because "Entries in optionalDependenci

[2015-03-26 16:12] iarna commented on #7426
No, `npm@3` will not help with this scenario. `npm install` considers it just fine as it meets the spec requirements. And `npm update` uses `npm outdated` which carries the same logic as it always has.

[2015-03-26 16:38] iarna commented on #7334
Closing this as answered.

[2015-03-26 16:38] #7334 closed

[2015-03-26 16:38] iarna commented on #7273
This is done in `multi-stage`

[2015-03-26 16:38] #7273 closed

[2015-03-26 16:39] iarna commented on #7272
This is done in `multi-stage`

[2015-03-26 16:39] #7272 closed

[2015-03-26 16:39] iarna commented on #7271
This is done in `multi-stage`

[2015-03-26 16:39] #7271 closed

[2015-03-26 16:43] cdewangan commented on #7726
its failing for me also, not able to install in mac:

npm ERR! Command failed: git clone --template=/Users/<user>/.npm/_git-remotes/_templates --mirror git://github.com/vojtajina/traceur-compiler /Users/<user>/.npm/_git-remotes/git-github-com-vojtajina-traceur-compiler-f4c43c65
npm ERR! Cloning into bare repository '/Users/<user>/.npm/_git-remotes/git-github-com-vojtajina-traceur-compiler-f4c43c65

[2015-03-26 16:43] tkissing opened #7760 "error message when trying to install unpublished package could be improved"
I upgraded to `chai-as-promised@4.3.2` on multiple machines yesterday. Today I checked my project out on a different computer and when running `npm install` got a failure because that version does not exist. Turned out that is correct, @domenic unpublished it intentionally, see https://github.com/domenic/chai-as-promised/issues/96
However, the npm error message is the same as if I had tried to ins

[2015-03-26 16:47] iarna commented on #7243
npm@3 solves this by never running `normalize-package-data` on what's written to your installed version. It does use `normalize-package-data` but only internally and never writes that to disk.

Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:47] #7243 closed

[2015-03-26 16:48] iarna commented on #7125
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:48] #7125 closed

[2015-03-26 16:50] iarna commented on #6939
Closing this as complete in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage).

[2015-03-26 16:50] #6939 closed

[2015-03-26 16:50] iarna commented on #6938
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:50] #6938 closed

[2015-03-26 16:51] KenanY commented on #7726
@cdewangan Your issue appears to be with your internet connection. The connection to `github.com` is failing. Are you behind a proxy by any chance?

[2015-03-26 16:51] iarna commented on #6937
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage). The new dedupe flattens the tree, but doesn't install new code, only moving around modules you already have installed.

[2015-03-26 16:51] #6937 closed

[2015-03-26 16:51] iarna commented on #6936
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:51] #6936 closed

[2015-03-26 16:52] iarna commented on #6935
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:52] #6935 closed

[2015-03-26 16:53] iarna commented on #6933
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:53] #6933 closed

[2015-03-26 16:53] iarna commented on #6931
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:53] #6931 closed

[2015-03-26 16:53] iarna commented on #6930
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:53] #6930 closed

[2015-03-26 16:55] iarna commented on #6928
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage).

This ended up a little weird, because there are some major packages **cough** hapi **cough** that have a shrinkwrap that intentionally doesn't include all of their deps. So, we make your tree look like your shrinkwrap plus whatever's necessary to meet the needs of your package.json.

[2015-03-26 16:55] #6928 closed

[2015-03-26 16:55] iarna commented on #6913
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage)

[2015-03-26 16:55] #6913 closed

[2015-03-26 16:57] UltCombo commented on #6938
Nice! :smiley:

[2015-03-26 17:03] iarna commented on #3803
Closing this as fixed in [npm/npm#multi-stage](https://github.com/npm/npm/tree/multi-stage).

[2015-03-26 17:03] #3803 closed

[2015-03-26 17:07] iarna commented on #5254
this is not happening in multi-stage, but it is a LOT easier to patch in. Basically when constructing the ideal tree start from scratch instead of a clone of the current tree.

[2015-03-26 17:07] backflip commented on #6933
Great news!
Are the two shrinkwrap issues (warning on save and idempotence) still unchecked for a reason?

[2015-03-26 17:31] HknLof opened #7761 "npm local installation failes"
I have a project in it i have a node_modules directory and a package.json file. But npm still installs  (via ```npm install```)  it to the global prefix.

I run npm@1.4.28 on a Ubuntu Trusty

[2015-03-26 17:35] UltCombo commented on #5254
Sounds good to me.

[2015-03-26 17:46] KenanY commented on #7761
@HknLof My first thought is that somehow you have `global` set to `true`?

[code]

[2015-03-26 18:26] msikma commented on #7754
As the error log states, this isn't an npm bug:

It seems to be a bug in [minimatch](https://www.npmjs.com/package/minimatch), but I'm not sure why since their 2.0.4 package.json seems to be correct.

You should take it up with that package's author, or try to remove and reinstall it.

[2015-03-26 18:29] KenanY commented on #7754
@sidahmedbenkhaoua Could you try `npm cache clean`?

[2015-03-26 18:30] msikma commented on #7705
Seems there already is a phonegap install, possibly with modified files in it. Try deleting `/usr/local/lib/node_modules/phonegap/` before trying again.

[2015-03-26 18:47] biebergagabcbs commented on #7749
I ran 'npm install grunt' again and it seemed to work. thanks a lot for your help.

[2015-03-26 19:07] sidahmedbenkhaoua commented on #7754
@KenanY  same issue

[2015-03-26 19:48] piranna opened #7762 "Compressed packages"
I've [proposed a change](https://github.com/joyent/node/issues/14169) on Node.js require() to accept to use compressed packages on the modules resolution algorythm. The other part of the equation is npm :-) This would take a great advantage of the new [flat tree dependencies](https://github.com/npm/npm/issues/6912), since npm would store the compressed files directly on the ```node_modules``` fold

[2015-03-26 19:52] piranna commented on #6912
On io.js [they think](https://github.com/iojs/io.js/issues/1091#issuecomment-78171284) it would be better to check the dependencies in package.json and show the warning when doing ```npm publish```. That's not a bad idea, too...

[2015-03-26 19:57] smikes opened #7763 "Unable to install this package (from registry)"
[code]

Partial npm-debug.log
[code]

Full npm-debug.log here - https://gist.github.com/smikes/a187dc2d21636ae9be28

[2015-03-26 20:04] donaldpipowitch opened #7764 "user "root" does not have permission to access the dev dir "/.node-gyp/0.12.1""
I try to install https://github.com/babel/babel globally, but encounter errors. I switched to an admin user with `$ su myAdminUser` and called `$ sudo npm install -g babel`. This throws the following error:

[code]

From similar issues like https://github.com/npm/npm/issues/2952 I added `--unsafe-perm`. I don't get any errors now, but it looks the the install process holds or waits endlessly after

[2015-03-26 20:22] bcoe commented on #7763
For what it's worth, I see the tarball and JSON:

[code]

[code]

[2015-03-26 20:34] iarna commented on #6912
I'm confused as to what you think `npm publish` would be warning about? Are you suggesting that `npm publish` should try to statically analyze all your source code to see if you require something that's not a dependency? If so, I would encourage you to write this as a tool that can be installed as a `prepublish` hook.

[2015-03-26 20:36] smikes commented on #7763
Thanks.  I have changed the title.  I can download from registry using wget and install as a separate step.  This means that I am now able to get the sum of two numbers, etc.

But `npm install <pkg>` still fails

[2015-03-26 20:36] piranna commented on #6912
Not me but at io.js, but yes :-)

That's another option, too... Didn't though about the npm hooks...

[2015-03-26 20:40] iarna commented on #7763
Adding some debugging I see:
[code]

[2015-03-26 20:45] parshap commented on #6912
[dependency-check][] does this.

[dependency-check]: https://www.npmjs.com/package/dependency-check

[2015-03-26 20:53] smikes commented on #7763
Thanks!  I am OK with closing this bug, since no further action seems necessary.

Do you want me to open a bug on fs-write-stream-atomic?

[2015-03-26 20:55] iarna commented on #7763
Nah, thanks, I've got that handled.

[2015-03-26 20:56] iarna commented on #7763
But I would note that the name _wouldn't_ be too long if the cache was laid out differently. 😉

[2015-03-26 21:42] enriqueyt commented on #7727
hello, I have been the same error and I can't found any solution. I saw a post that it someone wrote That  We need degrade node.js to version 0.10. You can help wiht it, thanks

[2015-03-26 21:55] kmalakoff opened #7765 "gnutls_handshake() failed: A TLS packet with unexpected length was received"
We are using npm@2.7.3 and seem to be encountering issues installing our modules via git over HTTPS using basic auth on linux.

[code]

We first noticed it on Mar 23 and it is an intermittent problem that has had a few different error messages.

We've got a support issue open with Atlassian and are trying the following: http://askubuntu.com/questions/186847/error-gnutls-handshake-falied-when-conne

[2015-03-26 22:29] robbles commented on #7036
Update for anyone else facing this issue on an old machine: You have to reinstall `/usr/bin/which` or `/bin/which`, which npm helpfully deletes.

The suggested script (`https://www.npmjs.org/install.sh`) works, but it also calls `which node`, which will fail if you haven't restored it first.

[2015-03-26 23:20] kmalakoff commented on #7765
Bitbucket got back to us confirming that gnutls is git is [known to be flaky](https://bitbucket.org/site/master/issue/9385/gnutls-recv-error-9-when-push-to-remote).

It looks like if we install using git in the terminal on our linux servers, there are no reliability problems, but when we install modules via npm, we get intermittent failures. Is npm using a version of git that is compiled using gnu

[2015-03-26 23:22] KenanY commented on #7765
@kmalakoff `npm` uses whatever `git` is in your `PATH`.

[2015-03-26 23:31] kmalakoff commented on #7765
@KenanY thank you for the information. Just looked at the path and `which git` gave us the same version of git we were comparing. Maybe it isn't a git version problem but something in how it is run?

[2015-03-26 23:43] othiym23 commented on #7765
@kmalakoff The commands run by git are logged at `verbose` level, so you can be seen exactly what's being run (if not the complete runtime environment, which is sanitized by npm). Is it possible that you've got some proxy settings that might be getting in the mix in a bad way?

[2015-03-27 00:06] bmeck commented on #7762
I defer my comments to the IO.js issue

[2015-03-27 00:23] kmalakoff commented on #7765
We saw an article suggesting this, but our configuration hasn't changed recently so we didn't think this was the likely source of the problem.

We've found a workaround by rebuilding git with OpenSSL instead of the default gnutls, but still not sure on what changed to cause this problem.

[2015-03-27 01:22] #7765 closed

[2015-03-27 01:35] TommyHili commented on #7555
@KenanY sorry that is my foot,I just update Node to 0.12.1, next time Similar problems to tack overflow ,think you Answer,

[2015-03-27 02:28] radision commented on #7753
@KenanY When will you add jquery-ui@1.11.4 support in npm? Maybe someone need the new features in that version too. Thanks!

[2015-03-27 03:20] KenanY commented on #7753
@radision Publishing new versions of a package is not `npm`'s responsibility. It is the responsibility of the authors of the packages. Maybe you should contact the authors of `jquery-ui`.

[2015-03-27 05:16] rajsite commented on #6053
+1

[2015-03-27 05:58] yt7589 opened #7767 "Fail to install NativeScript"
When I try to install the NativeScript( a platform allow us to write program in javascript then convert it to native IOS and android native application) on my windows 7 x64 machine it prompt these messages:
[code]

[2015-03-27 06:01] othiym23 commented on #7767
Did npm leave behind an `npm-debug.log` file when it crashed? The absence of a stacktrace leads me to believe this may be some kind of bug in Node itself, but I would need to look at a debug log to be able to say more.

[2015-03-27 06:03] yt7589 commented on #7767
Where to find the debug log of npm?

[2015-03-27 06:06] othiym23 commented on #7767
@yt7589 It should be in the same directory from which you were running npm. If it doesn't exist, could you try running `npm -ddd install -g nativescript`? You may need to increase the size of the `cmd.exe` buffer by a significant amount in order to capture enough of the scrollback to find anything interesting.

[2015-03-27 06:17] radision commented on #7753
Ok, Thanks!

[2015-03-27 06:28] #7764 closed

[2015-03-27 06:29] donaldpipowitch commented on #7764
It looks like Babel was correctly installed, but I didn't get a success message.

[2015-03-27 06:30] yt7589 commented on #7767
I found npm-debug.log file. How to upload this file?

[2015-03-27 06:34] othiym23 commented on #7767
The easiest thing to do is to upload it to gist.github.com.

[2015-03-27 07:52] yt7589 commented on #7767
Hi. This is my npm-debug.log. http://119.57.160.206/npm-debug.log

[2015-03-27 07:59] othiym23 commented on #7656
Fixed in 5d7f704823f5f92ddd7ff3e7dd2b8bcc66c73005 thanks to @KenanY. :balloon:

[2015-03-27 07:59] #7656 closed

[2015-03-27 08:25] othiym23 commented on #7636
I just landed @msikma's tweak to the wording as 402f52ab201efa348feb87cad753fc4b91e8a3fb, which is close enough to call this resolved. As @msikma said, if you're seeing a message about `npmjs.org/dist`, you have a version of npm old enough that you really ought to think about upgrading anyway. There's not a lot we can do about changing the wording in the documentation in old versions.

[2015-03-27 08:25] #7636 closed

[2015-03-27 08:38] olegakbarov opened #7768 ""file name too long" on Windows 7"
probably a known issue but i stumbled upon this

[code]

[2015-03-27 09:12] HknLof commented on #7761
Yepp, that was the issue, thanks.

[2015-03-27 09:12] #7761 closed

[2015-03-27 10:08] louisremi commented on #4530
This might be solved using the solution proposed in [this stackoverflow thread](http://stackoverflow.com/questions/10528695/how-to-reset-comp-wordbreaks-without-effecting-other-completion-script)
I'm a complete bash noob, I can't make sense of the syntax in the accepted answer, so I won't be able to propose a patch : (

[2015-03-27 10:20] louisremi opened #7769 "Make lib/completion.js an external, generic node module"
A great amount of work has been put in creating the completion module used internally by npm. People have tried to extract it as an independent and generic module (see [node-tabtab](https://github.com/mklabs/node-tabtab)), but their versions are lagging (far) behind and keeping up with upstream changes is anything but easy.

It would be a great addition to the ecosystem if npm exported this lib to

[2015-03-27 10:35] piranna commented on #6912
Yeah, dependency-check does what I'm talking about, problem with this thing is that's and opt-in instead of being the default behaviour, so it will only check the dependencies if the developer has it installed.

[2015-03-27 10:38] abbakym commented on #5522
I second this.

When developing internal libraries, `publishConfig` is the first place to put URL of internal registry - the most obvious and environment-independent place to say "this lib is never intended to be published to public registry". But if we have >1 registry (e.g. dev and production), then we have to override it - and that's impossible. Well, not impossible, but we have to do it manual